{{ partial "base_header.html" . }}


<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/img/bg/fiance.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                       Programme
                    </h3>
                    <h4 style="color:white;">Qui vient jouer avec nous ? </h4>
                    <h4 style="color:white;">Soyez nos complices. </h4>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Accueil</a>  |   </li>
                <li><span>Partenaires</span></li>
            </ul>
        </div>

    </div>
</section>
<!--page title section end-->


<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                VOus souhaitez devenir partenaire ? Soyez nos complices !
            </h3>
        </div>

     <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>
                Rien de plus simple. Voici notre cahier pour les partenaires. Vous y trouverez nos différentes propositions. Serez vous <strong>le monstre du Lagon noir ?</strong>, <strong>Dracula ?</strong> ou <strong>Franky ?</strong>. 

                <br/><br/>    

                En étant partenaire vous rendez visible votre envie ou votre capacité à vous impliquer dans les mouvements modernes autour du <em>product management</em>.     

                <br/><br/>    

                <a href=/pdf/partenariats-laconf-schoolofpo.pdf><img src=/img/partners/pdf.jpg width=64/>Cliquez ici pour le dossier de partenariat</a> 

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>

                    <a href=/pdf/partenariats-laconf-schoolofpo.pdf>
                       <img src=/img/partners/complices.jpg /> 
                    </a>

                </p>
        </div>
    </div>
</section>


{{ partial "section-partners-card.html" . }}

{{ partial "section-ticket.html" . }}

<br/>
{{ partial "section-prix.html" . }}


{{ partial "footer.html" . }}
{{ partial "js_footer.html" . }}

</body>
</html>