{{ partial "base_header.html" . }}


<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/img/bg/bestiaire.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                       Le bestiaire
                    </h3>
                    <h4 style="color:white;">"<em>plus réussi est le méchant, plus réussi sera le film</em>" -- Alfred Hitchcock. </h4>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Accueil</a>  |   </li>
                <li><span>Bestiaire</span></li>
            </ul>
        </div>

    </div>
</section>
<!--page title section end-->


<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                Notre bestiaire 
            </h3>
        </div>

     <div class="row justify-content-center">
        <div class="col-12">
            <p>
                
                   
                <h4>   Mais pourquoi ces monstres ? </h4>
                
                Tout a commencé avec <strong>Frankenstein</strong> pour lequel nous avons subitement compris qu'il était un produit, d'un savant fou, mais un produit. Incompris, malheureux, qui n'a pas trouvé ses clients, qui n'a pas trouvé le bonheur. Mais qui a voulu vivre. "Build me baby". Rapidement le <strong>Joker</strong> est arrivé. On a vite compris qu'il était le bonimenteur, le charlatan, celui qui a voulu un MVP XXL, celui que l'on trouve trop souvent dans nos eco-systèmes. Du coup cette nouvelle édition nous avons eu deux mots d'ordre, la révolution, renverser la table, casser les codes, et aussi l'idée de regarder en face son produit, ne pas se laisser bercer par les <em>vanity metrics</em>. La <strong>méduse</strong> vient de là. Pouvez vous regarder en face votre produit sans être glacé ?   
                <br/><br/>
                <h5>Incompris, imparfait, à la recherche de leur place, de sens... tous ces monstres nous les aimons, ils sont de belles métaphores des réalités que nous vivons au quotidien.</h5>
                
                <ul>
                <li><strong>Frankenstein</strong>, build me baby ! Je veux vivre, fait de moi un produit avec du sens et qui trouve son public. Là je souffre je ne suis qu'un assemblage disgracieux dont personne ne veut. </li>
                <li><strong>Joker</strong>, le bonimenteur, l'arnaqueur, celui qui veut faire croire que le XXL est un MVP. Et bizarrement c'est aussi celui qui vous dira la vérité froide... Je suis un produit dangereux, réel mais ingérable.</li>
                <li>Oseriez vous regarder votre produit en face ou seriez vous glacé comme avec la <strong>méduse</strong> ? Je suis le produit qui refuse de se regarder en face.</li>
                <li><strong>Dracula</strong>, comment l'éviter, son sang coule dans nos veines, et ne se nourrit-il pas des autres ? C'est le produit qui se propage dans l'obscurité, et dont personne n'ose parler.</li>
                <li>Le <strong>loup-garou</strong> n'est pas celui que l'on croit. C'est un produit inoffensif et soudain la faille se révèle, dangereuse.</li> 
                <li>Le <strong>monstre du Lagon noir</strong> : il est perdu, on l'a oublié, mais existe-t-il vraiment ? Qui utilises encore ce produit ? Pourtant la légende perdure.</li>
            </ul>
            <img src=/img/head/franky-head.jpg />
            <img src=/img/head/joker-head.jpg />
            <img src=/img/head/dracula-head.jpg />
            <img src=/img/head/meduse-head.jpg />
            <img src=/img/head/wolfman-head.jpg />
            <img src=/img/head/lagon-head.jpg />
            </p>
        </div>
    </div>
</section>

{{ partial "section-monsters.html" . }}

{{ partial "section-partenaires.html" . }}

{{ partial "section-ticket.html" . }}

<br/>
{{ partial "section-prix.html" . }}

{{ partial "footer.html" . }}
{{ partial "js_footer.html" . }}

</body>
</html>