{{ partial "base_header.html" . }}


<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/img/bg/wolfman.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                       L'équipe
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Accueil</a>  |   </li>
                <li><span>Equipe</span></li>
            </ul>
        </div>

    </div>
</section>
<!--page title section end-->


<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                Notre équipe pour créer et penser cette conférence.  
            </h3>
        </div>

     <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>
                
                <img src=/img/team/team.jpg />    


            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>

                    Par ordre alphabétique des prénoms. 

                    <ul>    
                    <li>David, il sera le MC de la soirée.</li>    
                    <li>Dragos, il rappelle que le roi est nu et gère un peu tout.</li>
                    <li>Hobi, s'occupe des partenaires et de la mousse au chocolat du restaurant Daroco.</li>
                    <li>Marie-Anne, avec son sourire et sa capacité d'organisation : elle assure le cadre.</li>
                    <li>Mickael, s'occupe des partenaires et de surveiller les desserts de Hobi.</li>
                    <li>Nicolas, s'occupe des speakers et de calmer les velléitaires.</li>
                    <li>Pablo, il essaye d'organiser les conversations.</li>     
                    <li>Pauline, avec Nicolas elle poursuit les orateurs.</li> 
                    </ul>    

                    <h4>Bref l'équipe s'agrandit et nous aimons cela. </h4>    

                </p>
        </div>
    </div>
</section>

{{ partial "section-equipe-visages.html" . }}

{{ partial "section-agenda.html" . }}

{{ partial "section-partenaires.html" . }}

{{ partial "section-ticket.html" . }}

<br/>
{{ partial "section-prix.html" . }}

{{ partial "footer.html" . }}
{{ partial "js_footer.html" . }}

</body>
</html>