{{ partial "base_header.html" . }}


<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/img/bg/gremlins.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                       L'équipe
                    </h3>
                    <h4 style="color:white;">"<em>plus réussi est le méchant, plus réussi sera le film</em>" -- Alfred Hitchcock. </h4>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Accueil</a>  |   </li>
                <li><span>Equipe</span></li>
            </ul>
        </div>

    </div>
</section>
<!--page title section end-->


{{ partial "section-orateurs.html" . }}

{{ partial "section-partenaires.html" . }}

{{ partial "section-ticket.html" . }}

<br/>
{{ partial "section-prix.html" . }}

{{ partial "footer.html" . }}
{{ partial "js_footer.html" . }}

</body>
</html>