{{ partial "base_header.html" . }}


<!--page title section-->
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="/img/bg/kingkong.jpg">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                       Programme
                    </h3>
                    <h4  style="color:white;">Inspiration, Interaction, Socialisation tribale</h4>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Accueil</a>  |   </li>
                <li><span>Programme</span></li>
            </ul>
        </div>

    </div>
</section>
<!--page title section end-->

<section class="pt100 pb100" >
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                LE PROGRAMME DETAILLE - HORAIRES - SALLES
            </h3>
        </div>


        <div class="row justify-content-center mt30">
            
            <div class="col-12 col-md-12 col-lg-12">
                <img src=/img/programme/programme_full.png />
            </div>

         </div>   

</div>
</section>




<section class="pt100 pb100" >
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                Matinée #INSPIRATION
            </h3>
        </div>


        <div class="row justify-content-center mt30">
            
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#gojko>
                            <h4>Gojko Adzic</h4>    
                            <img src=/img/speakers/gojko-adzic.jpg alt="Gojko Adzic"/>   
                            <p>
                                <h5>Maximum Impact, minimum effort</h5>
                                Author of Impact Mapping, Specification by example and few more books... 
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#amelia>
                            <h4>Amélia Matar</h4>    
                            <img src=/img/speakers/amelia-matar.jpg alt="Amélia Matar"/>   
                            <p>
                                <h5>Maria Montessori, la meilleure PO au monde</h5>
                                Founder @colori
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#oussama>
                            <h4>Oussama Ammar</h4>    
                            <img src=/img/speakers/oussama-ammar.jpg alt="Oussama Ammar"/>   
                            <p>
                                <h5>Vanity Metrics</h5>
                                Co-founder & Director @TheFamily - Brain (& Meat) Lover
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#olaf>
                            <h4>Olaf Lewitz</h4>    
                            <img src=/img/speakers/olaf-lewitz.jpg alt="Olaf Lewitz"/>   
                            <p>
                                <h5>Own your product as if it mattered</h5>
                                Trust artist
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>


         </div>   

</div>
</section>


<section class="pt100 pb100" >
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                APRÈS-MIDI #INTERACTION
            </h3>
        </div>


        <div class="row justify-content-center mt30">
            

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#amelia>
                            <h4>Amélia Matar</h4>    
                            <img src=/img/speakers/amelia-matar.jpg alt="Amélia Matar"/>   
                            <p>
                                <h5>Déconstruire les préjugés</h5>
                                Founder @colori
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#olaf>
                            <h4>Olaf Lewitz</h4>    
                            <img src=/img/speakers/olaf-lewitz.jpg alt="Olaf Lewitz"/>   
                            <p>
                                <h5>PO Witchcraft & Wizardry</h5>
                                Trust artist
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#christopher>
                            <h4>Christopher Parola</h4>    
                            <img src=/img/speakers/christopher-parola.jpg alt="Christopher Parola"/>   
                            <p>
                                <h5>Tout est hypothèse</h5>
                                Lead Product Management chez Meilleurs Agents
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#herve>
                            <h4>Hervé Le Jacq</h4>    
                            <img src=/img/speakers/herve-le-jacq.jpg alt="Hervé Le Jacq"/>   
                            <p>
                                <h5>Utiliser le conte</h5>
                                Conteur breton languedocien 
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#bastienalex>
                            <h4>Bastien Naudé & Alexandre Thibault</h4>    
                            <img src=/img/speakers/bastien-naude-alexandre-thibault.jpg alt="Bastien Naudé & Alexandre Thibault"/>   
                            <p>
                                <h5>Minimum Viable Product Owner</h5>
                                Coach et graine de coach chez beNext
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#jonathan>
                            <h4>Jonathan Litty</h4>    
                            <img src=/img/speakers/jonathan-litty.jpg alt="Jonathan Litty"/>   
                            <p>
                                <h5>Raclette de "Design Sprint"</h5>
                                Coach UX Design - Hard core cheese lover
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#aurelierolland>
                            <h4>Aurélie Rolland</h4>    
                            <img src=/img/speakers/aurelie-rolland.jpg alt="Aurélie Rolland"/>   
                            <p>
                                <h5>Premier pas dans les chaussures d'un UX Designer</h5>
                                Product Designer
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#oana>
                            <h4>Oana Juncu</h4>    
                            <img src=/img/speakers/oana-juncu.jpg alt="Oana Juncu"/>   
                            <p>
                                <h5>People Systems Design</h5>
                                Agile Business DJ
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#andrea>
                            <h4>Andrea Provaglio</h4>    
                            <img src=/img/speakers/andrea-provaglio.jpg alt="Andrea Provaglio"/>   
                            <p>
                                <h5>Aiming for value</h5>
                                Agile Enterprise & Executive Coach
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>

                        <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#nilsloic>
                            <h4>Nils Lesieur & Loïc Le Molgat</h4>    
                            <img src=/img/speakers/nils-loic.jpg alt="Nils Lesieur & Loïc Le Molgat"/>   
                            <p>
                                <h5>Impact with the devil</h5>
                                Agile coaches chez beNext
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>


         </div>   

</div>
</section>


<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                Clôture & Soirée #SocialisationTribale 
            </h3>
        </div>

        <div class="row justify-content-center mt30">


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#thais>
                            <h4>Thaïs Vauquières</h4>    
                            <img src=/img/speakers/thais-vauquieres.jpg alt="Thaïs Vauquières"/>   
                            <p>
                                <h5>Produit comique</h5>
                                One woman show et aussi spécialiste en pharmacopée. 
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/programme.html>
                            <h4>Tous les participants</h4>    
                            <img src=img/agenda/socialisationtribale2.jpg alt="Socialisation Tribale"/>   
                            <p>
                                <h5>Socialisation Tribale</h5>
                                Party <br/>
                                ... and more
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a class=title href=/pdf/livret-school-of-product-ownership.pdf >
                            <h4>PDF</h4>    
                            <img src=/img/speakers/pdf.jpg alt="PDF"/>   
                            <p>
                                <h5>Délivrer PDF</h5>
                                Compression Specialist.<br/>
                                Ad. Obey. 
                            </p>                             
                            </a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
</section>


{{ partial "section-partenaires.html" . }}

{{ partial "section-ticket.html" . }}

<br/>
{{ partial "section-prix.html" . }}


{{ partial "footer.html" . }}
{{ partial "js_footer.html" . }}

</body>
</html>