
{{ partial "base_header.html" . }}

<!--cover section slider -->
<section id="home" class="home-cover">
    <div class="cover_slider owl-carousel owl-theme">
        <div class="cover_item" style="background: url('/img/bg/product-revolution.jpg');">
             <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h3 class="cover-title">
                                School of<br/>Product Ownership
                            </h3>
                            <strong class="cover-xl-text">LA CONF'</strong>
                            <h3 class="cover-title">#productrevolution</h3>
                            <p class="cover-date">
                                13 Février 2019  - Paris.
                            </p>
                            <a href="https://www.weezevent.com/school-of-po-la-conf-2019" class=" btn btn-primary btn-rounded" >
                                SOLD OUT !
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="cover_item" style="background: url('/img/bg/medusa.jpg');">
             <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h3 class="cover-title">
                                School of<br/>Product Ownership
                            </h3>
                            <strong class="cover-xl-text">LA CONF'</strong>
                            <h3 class="cover-title">#novanitymetrics</h3>
                            <p class="cover-date">
                                13 Février 2019  - Paris.
                            </p>
                            <a href="https://www.weezevent.com/school-of-po-la-conf-2019" class=" btn btn-primary btn-rounded" >
                                SOLD OUT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cover_item" style="background: url('/img/bg/lagoon.jpg');">
             <div class="slider_content">
                <div class="slider-content-inner">
                    <div class="container">
                        <div class="slider-content-center">
                            <h3 class="cover-title">
                                School of<br/>Product Ownership
                            </h3>
                            <strong class="cover-xl-text">LA CONF'</strong>
                            <h3 class="cover-title">#faceyourproduct</h3>
                            
                            <p class="cover-date">
                                13 Février 2019  - Paris.
                            </p>
                            <a href="https://www.weezevent.com/school-of-po-la-conf-2019" class=" btn btn-primary btn-rounded" >
                                SOLD OUT 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>



    <div class="cover_nav">
        <ul class="cover_dots">
            <li class="active" data="0"><span>1</span></li>
            <li  data="1"><span>2</span></li>
            <li  data="2"><span>3</span></li>
        </ul>
    </div>
</section>
<!--cover section slider end -->

<!--event info -->
<section class="pt100 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-md-3  ">
                <div class="icon_box_two">
                    <i class="ion-ios-calendar-outline"></i>
                    <div class="content">
                        <h5 class="box_title">
                            DATE
                        </h5>
                        <p>
                            13 février 2019<br/>
                            de 8h à 23h <br/>
                            Bloquez la soirée !
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3  ">
                <div class="icon_box_two">
                    <i class="ion-ios-location-outline"></i>
                    <div class="content">
                        <h5 class="box_title">
                            lieu
                        </h5>
                        <p>
                            VERSO, Centre de conférences<br/>
                            52 rue de la Victoire, 75009 <br/>
                            <a href=https://www.verso-paris.com/>www.verso-paris.com</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3  ">
                <div class="icon_box_two">
                    <i class="ion-ios-person-outline"></i>
                    <div class="content">
                        <h5 class="box_title">
                            ça cause
                        </h5>
                        <p>
                            20 orateurs, 10 heures de contenu, 0 certification, plein d'apprentissage
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3  ">
                <div class="icon_box_two">
                    <i class="ion-ios-pricetag-outline"></i>
                    <div class="content">
                        <h5 class="box_title">
                            tickets
                        </h5>
                        <p>
                            <span style="text-decoration: line-through;">200€ blind bird</span><br/>
                            <span style="text-decoration: line-through;">250€ early bird</span><br/>
                            <span style="text-decoration: line-through;">300€ tarif classique</span><br/>
                            SOLD OUT !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--event info end -->


<!--event countdown -->
<section class="bg-img pt70 pb70" style="background-image: url('/img/bg/bg-img.png');">
    <div class="overlay_dark"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <h4 class="mb30 text-center color-light">Impact imminent</h4>
                <div class="countdown"></div>
            </div>
        </div>
    </div>
</section>
<!--event count down end-->


<!--about the event -->
<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                A propos de la conférence
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <p>
                   Pour la deuxième année la School Of PO se lance dans une conférence. Après les meetups, la formation, et une tentative en cours pour réaliser une "PO retreat" (http://schoolofpo.com), nous relançons la conférence. Nous avons décidé d'appeler la conférence "Product Revolution". La première année le thème était "build me baby", inauguré par notre Franky. Cette année nous essayons de mettre en évidence les "vanity metrics" avec la tagline "Face your product".
                </p>
            </div>
            <div class="col-12 col-md-6">
                <p>
                    Nous ouvrons les "blind bird" pour ceux qui nous font très confiance. Nous ouvrirons les "early bird" dès l'annonce des premiers orateurs. Enfin il y a aura les places classiques. Cette année une nouveauté dans l'agenda : nous faisons une soirée pour socialiser au maximum. Le programme c'est donc de 8h30 à 23h. <br/><br/>
                    Comme précédemment une matinée inspiration, un après-midi expérimentation, et en bonus une soirée donc...

                </p>
            </div>
        </div>

        <!--event features-->
        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <h4>
                            20
                            <i class="lnr lnr-mic"></i>
                        </h4>
                        <p>
                            orateurs de multiples horizons.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <h4>
                            250
                            <i class="lnr lnr-eye"></i>
                        </h4>
                        <p>
                            participants en quête de valeur.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <h4>
                            10
                            <i class="lnr lnr-graduation-hat"></i>
                        </h4>
                        <p>
                            heures de contenu et de conversation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <h4>
                            0
                            <i class="lnr lnr-star"></i>
                        </h4>
                        <p>
                            certification mais de l'apprentissage et du plaisir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--event features end-->
    </div>
</section>
<!--about the event end -->

{{ partial "section-agenda.html" . }}

{{ partial "section-prix.html" . }}

{{ partial "section-partenaires.html" . }}

{{ partial "section-ticket.html" . }}

<br/>
{{ partial "section-orateurs.html" . }}

{{ partial "section-location.html" . }}

{{ partial "section-equipe.html" . }}

{{ partial "footer.html" . }}
{{ partial "js_footer.html" . }}

</body>
</html>
