

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h3>Nous envoyer un message</h3>
							<form method="post" action="/contact.php">
								<div class="field">
									<label for="nom">Nom</label>
									<input type="text" name="nom" id="nom" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="3"></textarea>
								</div>
								<input type=hidden name=page value="{{ .URL }}" />
								
								<div class="field">
									<label for="human"><i>[êtes vous humain?]</i> Quatre que j'ajoute à quatre font (en chiffre) ?</label>
									<input type="text" name=human id=human value="0"/> 	
								</div>	
								<ul class="actions">
									<li><input type="submit" value="Envoyer" /></li>
								</ul>
							</form>
						</section>
					
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; School Of PO | <a href=http://benextcompany.com>beNext</a></li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>