<!DOCTYPE HTML>
<!--
	Based/Inspired by Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ .Site.Params.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <link rel="shortcut icon" href=/images/favicons/favicon.ico>
    <link rel="apple-touch-icon" sizes="152x152" href=/images/favicons/apple-touch-icon-152x152.png>
    <link rel="apple-touch-icon" sizes="144x144" href=/images/favicons/apple-touch-icon-144x144.png>
    <link rel="apple-touch-icon" sizes="120x120" href=/images/favicons/apple-touch-icon-120x120.png>
    <link rel="apple-touch-icon" sizes="114x114" href=/images/favicons/apple-touch-icon-114x114.png>
    <link rel="apple-touch-icon" sizes="76x76" href=/images/favicons/apple-touch-icon-76x76.png>
    <link rel="apple-touch-icon" sizes="72x72" href=/images/favicons/apple-touch-icon-72x72.png>
    <link rel="apple-touch-icon" sizes="60x60" href=/images/favicons/apple-touch-icon-60x60.png>
    <link rel="apple-touch-icon" sizes="57x57" href=/images/favicons/apple-touch-icon-57x57.png>
    <link rel="icon" type="image/png" href=/images/favicons/favicon-196x196.png sizes=196x196>
    <link rel="icon" type="image/png" href=/images/favicons/favicon-160x160.png sizes=160x160>
    <link rel="icon" type="image/png" href=/images/favicons/favicon-96x96.png sizes=96x96>
    <link rel="icon" type="image/png" href=/images/favicons/favicon-32x32.png sizes=32x32>
    <link rel="icon" type="image/png" href=/images/favicons/favicon-16x16.png sizes=16x16>
    


	</head>


	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1></h1><br/>
						<p></p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
				<!--
					<header id="header">
						<a href="index.html" class="logo">The School of PO by beNext</a>
					</header>
				-->
				<!-- Nav -->
					<nav id="nav">
						<ul class="links">

							<li {{ if eq .URL "/" }} class="active" {{ end }}><a href="/">Info</a></li>
							<li {{ if or (eq .URL "/meetups/") (findRE "20.+" .URL 1) }} class="active" {{ end }}><a href="/meetups/">Meetups</a></li>
							<li {{ if eq .URL "/formations/" }} class="active" {{ end }}><a href="/formations/">Formations</a></li>
							<li {{ if eq .URL "/poretreat/" }} class="active" {{ end }}><a href="/poretreat/">PO Retreat</a></li>
							<li {{ if eq .URL "/conferences/" }} class="active" {{ end }}><a href="/conferences/">Conférences</a></li>
							<li {{ if eq .URL "/equipe/" }} class="active" {{ end }}><a href="/equipe/">Equipe</a></li>
							<li {{ if eq .URL "/apropos/" }} class="active" {{ end }}><a href="/apropos/">A propos</a></li>
						</ul>
						<ul class="icons">
							<li><a href=https://twitter.com/schoolofpo class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							
						</ul>
					</nav>

