{{ partial "header.html" . }}
				<!-- Main -->
					<div id="main">
						<!-- Post -->
							<section class="post">
								{{ .Content }}
							</section>
					</div>
{{ partial "footer.html" . }}