{{ partial "header.html" . }}
<div id="main">

		<!-- Post -->
			<section class="post">
				<header class="major">
					{{ if isset .Params "headline" }}
					<span class="date">{{ .Params.headline }}</span>
					{{ end }}
					<h2>{{ .Title }}</h2>
					<p>{{ .Params.synopsis }}</p>
				</header>
				<div class="image main"><img src="/images/{{ .Params.background }}" alt="" /></div>
				{{ .Content }}
			</section>

</div>
{{ partial "footer.html" . }}