{{ partial "header.html" . }}

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">School of PO, les meetups</span>
									<h2>Meetups</h2>
									<p>"Fear is the enemy. Trust is the armor". -Master Po </p>
									<hr/>
								</header>
								
									<p>Chaque session est menée par deux facilitateurs (d'abord de la communauté agile beNext, ensuite peut-être par d'autres). Chaque session demande 1 € symbolique à l'entrée. Chaque session démarre par une présentation des facilitateurs du sujet durant 20/30mn. Chaque session se poursuit par deux pistes de forum ouvert de 30mn chacune. Chaque session s'achève par un entretien feedback des participants qui le veulent bien. Naturellement tout ceci fini autour d'une bière et d'une pizza.</p>
									<p>La School of PO se déroule au 12 rue Vivienne, 75002, chez beNext une fois par mois, de 19h à 21h.</p>
								
								<ul class="actions">
									<li><a href="http://www.meetup.com/School_of_PO" class="button big">Inscription Meetup</a></li>
								</ul>
							
							</article>

						<!-- Posts -->
							<section class="posts">
								{{ range where .Site.Pages "Type" "meetup" }}
								    <article>
								    	<header>
								    	<span class="date">{{ .Site.Params.DateForm | default "2 Jan 2006" | .Date.Format }}</span>	
								        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
								        </header>
								        <a href="{{ .Permalink }}" class="image fit"><img src="/images/{{ .Params.background }}" alt=""/></a>
								        <p>{{ .Params.synopsis }}</p>
									    <ul class="actions">
											<li><a href="{{ .Permalink }}" class="button">En savoir plus</a></li>
										</ul>
									</article>
								  {{ end }}
								
							</section>
					</div>

{{ partial "footer.html" . }}