{{ partial "header.html" . }}
<div id="main">

		<!-- Post -->
			<section class="post">
				<header class="major">
					<span class="date">{{ .Site.Params.DateForm | default "2 Jan 2006" | .Date.Format }}</span>
					<h1>{{ .Title }}</h1>
					<p>{{ .Params.synopsis }}</p>
				</header>
				<div class="image main"><img src="/images/{{ .Params.background }}" alt="" /></div>
				{{ .Content }}
			</section>

</div>
{{ partial "footer.html" . }}