<!DOCTYPE html>
<html lang="en">
        {{ partial "head.html" . }}
<body>
<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>
        {{ partial "header.html" . }}
        