
<!--footer start -->
<footer>
    <div class="container">
        <div class="row justify-content-left">

            <div class="col-md-4 col-12">
                <div class="footer_box">
                    <div class="footer_header">
                        <div class="footer_logo">
                            <img src="/img/logo-2.png" alt="School of Product Ownership | La conf'">
                        </div>
                    </div>
                    <div class="footer_box_body">
                        <p>
                            Comme le disait Kung-Fu (David Carradine) suite à l’enseignement de Maître PO : “I do not seek answers, but rather to understand the question”, que l’on traduira ici par : je ne cherche pas des solutions mais à comprendre le problème.
                            <br/><br/>
                            <a href=http://schoolofpo.com>http://schoolofpo.com</a>
                        </p>
                        <ul class="footer_social">

                            <li>
                                <a href="https://twitter.com/SchoolOfPO"><i class="ion-social-twitter"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            La conférence 2018
                        </h4>
                        <a href=http://2018.schoolofpo.com>http://2018.schoolofpo.com</a>
                    </div>
                    <div class="footer_box_body">
                        <ul class="instagram_list">
                            <li>
                                <a href="https://pbs.twimg.com/media/DV_Kuu-W4AEz2y9.jpg">
                                    <img src="/img/cleander/twitter1.png" alt="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="https://pbs.twimg.com/media/DV7ghWKW4AEeWZh.jpg">
                                    <img src="/img/cleander/twitter2.png" alt="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="https://pbs.twimg.com/media/DV6_3j0X4AE4lbT.jpg">
                                    <img src="/img/cleander/twitter3.png" alt="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="https://pbs.twimg.com/media/DV6KLsSXUAE6Bui.jpg">
                                    <img src="/img/cleander/twitter4.png" alt="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="https://pbs.twimg.com/media/DV5-wF5XkAAIfoN.jpg">
                                    <img src="/img/cleander/twitter5.png" alt="twitter">
                                </a>
                            </li>
                            <li>
                                <a href="https://pbs.twimg.com/media/DV5ygv0XkAIEuS0.jpg">
                                    <img src="/img/cleander/twitter6.png" alt="twitter">
                                </a>
                            </li>
                        </ul>


                    </div>

                </div>

            </div>

            <div class="col-12 col-md-4">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            Notre mojo
                        </h4>
                    </div>
                    <div class="footer_box_body">

                        <strong>Inspiration</strong><br/>
                        Une piste unique (création de mémoire collective) d'orateurs pour inspirer vos produits la matinée. <br/>
                        <strong>Interaction</strong><br/>
                        Un ensemble d'ateliers pour mettre les mains dans la glaise, manipuler, apprendre, l'après-midi. <br/>
                        <strong>Party</strong><br/>
                        Une soirée festive pour échanger, se connaître différemment, interagir, en clôture. <br/>

                    </div>
                </div>
            </div>
        


            <div class="col-12 col-md-12">
                <div class="footer_box">
                    <div class="footer_header">
                        <h4 class="footer_title">
                            Nous contacter
                        </h4>
                    </div>
                    <div class="footer_box_body">
                        
                            <div class="contact_form">
                                <form method="post" action="/contact.php">
                                
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="nom" id="name" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="email" id="email" name="email">
                                </div>
                                <div class="form-group">
                                    <input type="textarea" class="form-control" placeholder="message" id="message" name="message">
                                </div>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="êtes vous humain ? quatre que j'ajoute à quatre font (en chiffre) ?" id="human" name="human">
                                </div>
                                <div class="form-group text-right">
                                    <button type=submit class="btn btn-rounded btn-primary">envoyer</button>
                                </div>
                                </form>
                            </div>
                        

                    </div>
                </div>
            </div>
     </div>       
</footer>

                    
<div class="copyright_footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
             {{ partial "menu_footer.html" . }}
        </div>
    </div>
</div>
<!--footer end -->
