<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta ryan="wordpress" />
    <meta name="description" content="School of Product Ownership la conf conférence, 13 février 2019, product management product revolution face your product no vanity metrics">
    <meta name="keywords" content="School of Product Ownership la conf conférence product management product revolution face your product no vanity metrics">
    <meta name="author" content="ColorLib">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ========== Title ========== -->
    <title> School of Product Ownership La conf'</title>
    <!-- ========== Favicon Ico ========== -->
    <!--<link rel="icon" href="fav.ico">-->
    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/et-line.css" rel="stylesheet">
    <link href="/css/ionicons.min.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
</head>
