        
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/orateurs.html">Orateurs</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link " href="/bestiaire.html">Bestiaire</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link " href="/partenaires.html">Partenaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/equipe.html">Equipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/programme.html">Programme</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link " href="/quiz.html">Quiz</a>
                </li>

            </ul>
        </div>
