<div class="col-12 col-md-6 ">
    <ul class="footer_menu">
        <li>
            <a href="/">Accueil</a>
        </li>     
        <li>
            <a href="/bestiaire.html">Bestiaire</a>
        </li>
        <li>
            <a href="/partenaires.html">Partenaires</a>
        </li>
        <li>
            <a href="/equipe.html">Equipe</a>
        </li>
         <li>
            <a href="/orateurs.html">Orateurs</a>
        </li>


    </ul>
</div>