 

<section class="pb100" >
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                Et donc nos monstres....
            </h3>
        </div>


        <div class="row justify-content-center mt30">
            
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#olaf>
                            <img src=/img/monsters/olaf-lewitz.png alt="Olaf Lewitz"/>                                
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        
                        <p>
                            <a href=/orateurs.html#herve>
                           <img src=/img/monsters/herve-le-jacq.png alt="Hervé Le Jacq"/>                                
                            </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>                            
                           <a href=/orateurs.html#gojko>
                           <img src=/img/monsters/gojko-adzic.png alt="Gojko Adzic"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>
        

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#amelia>    
                            <img src=/img/monsters/amelia-matar.png alt="Amelia Matar"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#amelia>
                            <img src=/img/monsters/amelia-matar-2.png alt="Amelia Matar"/>                                
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#olaf>
                            <img src=/img/monsters/olaf-lewitz-2.png alt="Olaf Lewitz"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#thais>
                            <img src=/img/monsters/thais-vauquieres.png alt="Thaïs Vauquières"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#oana>
                            <img src=/img/monsters/oana-juncu.png alt="Oana Juncu"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#aurelierolland>
                            <img src=/img/monsters/aurelie-rolland.png alt="Aurélie Rolland"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#bastienalex>
                            <img src=/img/monsters/bastien-alex.png alt="Alexandre Thibault & Bastien Naudé"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#christopher>
                            <img src=/img/monsters/christopher-parola.png alt="Christopher Parola"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#jonathan>
                            <img src=/img/monsters/jonathan-litty.png alt="Jonathan Litty"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#oussama>
                            <img src=/img/monsters/oussama-ammar.png  alt="Oussama Ammar"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#andrea>
                            <img src=/img/monsters/andrea-provaglio.png  alt="Andrea Provaglio"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/orateurs.html#nilsloic>
                            <img src=/img/monsters/loic-nils.jpg  alt="Nils Lesieur & Loïc Le Molgat"/>                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>

    </div>
</section>

