
<!--Price section-->
<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                Tarifs
            </h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 col-12">
                <div class="price_box">
                   <div class="price_header">
                       <h4>
                           Blind Bird
                       </h4>
                       <h6>
                           "Frankenstein Junior"
                       </h6>
                   </div>
                    <div class="price_tag">
                        200 <sup>€</sup>
                    </div>
                    <div class="price_features">
                        <ul>
                            <li>
                                Ta place
                            </li>
                            <li>
                                Café et repas
                            </li>
                            <li>
                                Soirée
                            </li>
                            <li>
                                Un selfie avec notre vampire des Carpates.
                            </li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a href="https://www.weezevent.com/school-of-po-la-conf-2019" class="btn btn-primary btn-rounded">Épuisé</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="price_box">
                    <!--
                    <div class="price_highlight">
                       
                    </div>
                -->
                    <div class="price_header">
                        <h4>
                            Early Bird
                        </h4>
                        <h6>
                            "MVP XXL JOKER"
                        </h6>
                    </div>
                    <div class="price_tag">
                        250 <sup>€</sup>
                    </div>
                    <div class="price_features">
                        <ul>

                            <li>
                                Ta place
                            </li>
                            <li>
                                Café et repas
                            </li>
                            <li>
                                Soirée
                            </li>
                            <li>
                                Un selfie + Un bisou avec notre vampire des Carpates.
                            </li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a href="https://www.weezevent.com/school-of-po-la-conf-2019" class="btn btn-primary btn-rounded">Épuisé</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="price_box active">
                    <div class="price_header">
                        <h4>
                            Classique
                        </h4>
                        <h6>
                            Regarde ton produit en face
                        </h6>
                    </div>
                    <div class="price_tag">
                        300 <sup>€</sup>
                    </div>
                    <div class="price_features">
                        <ul>
                            <li>
                                Ta place
                            </li>
                            <li>
                                Café et repas
                            </li>
                            <li>
                                Soirée
                            </li>
                            <li>
                                Apprendre à ne pas se voiler la face avec des métriques plein de vanité.
                            </li>
                        </ul>
                    </div>
                    <div class="price_footer">
                        <a href="https://www.weezevent.com/school-of-po-la-conf-2019" class="btn btn-primary btn-rounded">SOLD OUT !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--price section end -->
