<!--get tickets section -->
<section class="bg-img pt100 pb100" style="background-image: url('/img/bg/tickets.png');">
    <div class="container">
        <div class="section_title mb30">
            <h3 class="title color-light">
            Acheter votre place ?
            </h3>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-9 text-md-left text-center color-light">
                3 types de ticket : "blind bird", vous avez une confiance "aveugle" et vous achetez le ticket sans même connaître le programme. "Early Bird" : vous prenez dès les premières annonces du programme, votre enthousiasme nous aide. "Classic" : vous prenez un ticket et nous sommes ravis de vous compter parmi nous !<br/><br/>
                Cette année le ticket inclut la journée et la soirée !
            </div>
            <div class="col-md-3 text-md-right text-center">
                <a href="https://www.weezevent.com/school-of-po-la-conf-2019" class="btn btn-primary btn-rounded mt30">SOLD OUT !</a>
            </div>
        </div>
    </div>
</section>
<!--get tickets section end-->
