
<!--team section-->
<br/>
<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                Equipe organisatrice
            </h3>
        </div>

     <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>
                Il seront ravis de vous accueillir : Dragos Dreptate (il rappelera que le roi est nu), Pablo Pernot (il essaye d'organiser les conversations), Marie-Anne Le Bot (son sourire et sa capacité d'organisation : elle assure le cadre), David Robert (il organise la soirée), Hobi Rakotoson et Mickael Caovan(ils assurent la relation partenaires et sponsors), enfin Nicolas Potier donne de la cohérence au groupe.
                <br/><br/>
                    <h3><a href=/equipe.html>Accéder à la page équipe</a></h3>
                <br/>
            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>
                </p>
        </div>
    </div>
</section>
<!-- end of team section -->