<!--speaker section-->


<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
               <br/> 
               Les oratrices / orateurs
            </h3>
        </div>
    
    <div class="row justify-content-center no-gutters">

        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#gojko>
                <div class="speaker_img">
                    <img src="/img/speakers/gojko-adzic.jpg" alt="Gojko Adzic">
                    <div class="info_box">
                        <h5 class="name">Gojko Adzic</h5>
                        <p class="position">Maximum impact, minimum effort</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
   
        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#amelia>
                <div class="speaker_img">
                    <img src="/img/speakers/amelia-matar.jpg" alt="Amélia Matar">
                    <div class="info_box">
                        <h5 class="name">Amélia Matar</h5>
                        <p class="position">Maria Montessori, la meilleure product owner au monde ET un atelier pour déconstruire les préjugés.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#olaf>
                <div class="speaker_img">
                    <img src="/img/speakers/olaf-lewitz.jpg" alt="Olaf Lewitz">
                    <div class="info_box">
                        <h5 class="name">Olaf Lewitz</h5>
                        <p class="position">Own your product as if it mattered (talk) AND PO Withcraft & Wizardry (workshop).</p>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#christopher>
                <div class="speaker_img">
                    <img src="/img/speakers/christopher-parola.jpg" alt="Christopher Parola">
                    <div class="info_box">
                        <h5 class="name">Christopher Parola</h5>
                        <p class="position">Atelier : Tout est hypothèse.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>



        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#bastienalex>
                <div class="speaker_img">
                    <img src="/img/speakers/bastien-naude-alexandre-thibault.jpg" alt="Bastien Naudé et Alexandre Thibault">
                    <div class="info_box">
                        <h5 class="name">Bastien Naudé et Alexandre Thibault</h5>
                        <p class="position">Atelier : Le Minimum Viable Product Owner</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
 

        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#aurelierolland>
                <div class="speaker_img">
                    <img src="/img/speakers/aurelie-rolland.jpg" alt="Aurélie Rolland">
                    <div class="info_box">
                        <h5 class="name">Aurélie Rolland</h5>
                        <p class="position">Atelier : Premiers pas dans les chaussures d'un UX Designer</p>
                    </div>
                </div>
                </a>
            </div>
        </div>   

     <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#jonathan>
                <div class="speaker_img">
                    <img src="/img/speakers/jonathan-litty.jpg" alt="Jonathan Litty">
                    <div class="info_box">
                        <h5 class="name">Jonathan Litty</h5>
                        <p class="position">Atelier : Raclette de "Design Sprint"</p>
                    </div>
                </div>
                </a>
            </div>
      </div>
   

        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#thais>
                <div class="speaker_img">
                    <img src="/img/speakers/thais-vauquieres.jpg" alt="Thaïs Vauquières">
                    <div class="info_box">
                        <h5 class="name">Thaïs Vauquières</h5>
                        <p class="position">Produit comique</p>
                    </div>
                </div>
                </a>
            </div>
      </div>


    <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#oussama>
                <div class="speaker_img">
                    <img src="/img/speakers/oussama-ammar.jpg" alt="Oussama Ammar">
                    <div class="info_box">
                        <h5 class="name">Oussama Ammar</h5>
                        <p class="position">Vanity Metrics</p>
                    </div>
                </div>
                </a>
            </div>
      </div>

     
          <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#herve>
                <div class="speaker_img">
                    <img src="/img/speakers/herve-le-jacq.jpg" alt="Hervé Le Jacq">
                    <div class="info_box">
                        <h5 class="name">Hervé Le Jacq</h5>
                        <p class="position">Atelier : Utiliser le conte</p>
                    </div>
                </div>
                </a>
            </div>
      </div>
   

          <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <a href=/orateurs.html#oana>
                <div class="speaker_img">
                    <img src="/img/speakers/oana-juncu.jpg" alt="Oana Juncu">
                    <div class="info_box">
                        <h5 class="name">Oana Juncu</h5>
                        <p class="position">Atelier : People Systems Design</p>
                    </div>
                </div>
                </a>
            </div>
      </div>
   


     <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                 <a href=/orateurs.html#andrea>
                <div class="speaker_img">
                    <img src="/img/speakers/andrea-provaglio.jpg" alt="Andrea Provaglio">
                    <div class="info_box">
                        <h5 class="name">Andrea Provaglio</h5>
                        <p class="position">Atelier : Aiming for value</p>
                    </div>
                </div>
                </a>
            </div>
      </div>



     <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                 <a href=/orateurs.html#nilsloic>
                <div class="speaker_img">
                    <img src="/img/speakers/nils-loic.jpg" alt="Nils Lesieur & Loïc Le Molgat">
                    <div class="info_box">
                        <h5 class="name">Nils Lesieur & Loïc Le Molgat</h5>
                        <p class="position">Atelier : Impact with the devil</p>
                    </div>
                </div>
                </a>
            </div>
      </div>

        <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/speakers/speaker2.jpg" alt="Anonymous Monster">
                    <div class="info_box">
                        <h5 class="name">Anonymous Monster</h5>
                        <p class="position">Holy talk</p>
                    </div>
                </div>
            </div>
        </div>
   
     <div class="col-md-4 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/speakers/speaker3.jpg" alt="Anonymous Mummy">
                    <div class="info_box">
                        <h5 class="name">Anonymous Mummy</h5>
                        <p class="position">MMmmmm</p>
                    </div>
                </div>
            </div>
      </div>

    
   </div> 

</section>

<!--speaker section end -->