<!--speaker section-->


<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
               <br/> 
               Le QUIZ !!!!
            </h3>

            <p>
                Comme l'année dernière nous vous proposons un quiz pour gagner une place à la conférence, mais surtout notre estime éternelle !<br/>
                Nous avons demandé aux orateurs leurs petits secrets. À vous de retrouver à qui appartient chaque secret en rapprochant : une lettre (juste avant le nom des orateurs ci-dessous), et le chiffre du secret. 
                <br/><br/>
                Tweetez avec le hastag #schoolofpo<br/>
                Quelques associations (exemple : J-13, G-6, etc.)<br/>
                Et gagnez une place pour la conférence. 
            </p>
            <p>
                 <div class="price_footer">
                    <a href="https://twitter.com/intent/tweet?button_hashtag=schoolofpo" class="btn btn-primary btn-rounded" data-show-count="false">Je tweet mes réponses au QUIZ</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </p>
            <p>
                Clique sur l'image pour agrandir : 
                <a href=/img/quiz/quiz.png><img src=/img/quiz/quiz.png /></a>
            </p>    
        </div>
    <!--    
    <h3>Les secrets !</h3>
    

    <ol style="font-size: 1.6em;font-variant:small-caps;line-height:1.4;">    
        <li>J'ai été en même temps guitariste de groupe métal et pianiste de musique de chambre</li>
        <li>J'ai fait partie de l'équipe de rugby (du sexe opposé) dans mon lycée</li>
        <li>Lors de mon premier "babysitting" l'appartement a pris feu</li>
        <li>J'ai une certification "parachute"</li>
        <li>J'ai appris à prononcer mon nom correctement à 40 ans passés. </li>
        <li>J'utilise le même short pour mes joggings depuis 2003</li>
        <li>Je mange des côtes de Boeuf au petit déjeuner</li>
        <li>Je mange de l'ail avec de la confiture. </li>
        <li>J'ai été journaliste</li>
        <li>Ma mère est née à Corléone, oui, celle de la famille. </li>
        <li>J'achète toujours des Picsous géants aujourd'hui. Gamin, j'attendais à 5h du mat en pyjama devant la boîte aux lettres qu'il soit livré, pour le lire avant mon frère.</li>
        <li>J'ai déjà jeté des sorts avec l'un des orgas de la conférence</li>
        <li>Il pratique sa CNV grâce à sa ceinture marron krav maga</li>
        <li>Je dis "La" ketchup.</li>
        <li>J'adore regarder des vidéos de "the voice audition international"</li>

    </ol>
    
    <h3>Les orateurs (avec la lettre qui les représente)</h3>
    
    
    
    <div class="row justify-content-center no-gutters">

        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#gojko>
                <div class="speaker_img">
                    <img src="/img/speakers/gojko-adzic.jpg" alt="Gojko Adzic">
                    <div class="info_box">
                        <h5 class="name">A - Gojko Adzic</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>
   
        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#amelia>
                <div class="speaker_img">
                    <img src="/img/speakers/amelia-matar.jpg" alt="Amélia Matar">
                    <div class="info_box">
                        <h5 class="name">B - Amélia Matar</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#olaf>
                <div class="speaker_img">
                    <img src="/img/speakers/olaf-lewitz.jpg" alt="Olaf Lewitz">
                    <div class="info_box">
                        <h5 class="name">C - Olaf Lewitz</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#christopher>
                <div class="speaker_img">
                    <img src="/img/speakers/christopher-parola.jpg" alt="Christopher Parola">
                    <div class="info_box">
                        <h5 class="name">D - Christopher Parola</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>



        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#bastienalex>
                <div class="speaker_img">
                    <img src="/img/speakers/bastien-naude-alexandre-thibault.jpg" alt="Bastien Naudé et Alexandre Thibault">
                    <div class="info_box">
                        <h5 class="name">E - Bastien Naudé <br/> F - Alexandre Thibault</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>
 

        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#aurelierolland>
                <div class="speaker_img">
                    <img src="/img/speakers/aurelie-rolland.jpg" alt="Aurélie Rolland">
                    <div class="info_box">
                        <h5 class="name">G - Aurélie Rolland</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>   

     <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#jonathan>
                <div class="speaker_img">
                    <img src="/img/speakers/jonathan-litty.jpg" alt="Jonathan Litty">
                    <div class="info_box">
                        <h5 class="name">H - Jonathan Litty</h5>
                    </div>
                </div>
                </a>
            </div>
      </div>
   

        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#thais>
                <div class="speaker_img">
                    <img src="/img/speakers/thais-vauquieres.jpg" alt="Thaïs Vauquières">
                    <div class="info_box">
                        <h5 class="name">I - Thaïs Vauquières</h5>
                    </div>
                </div>
                </a>
            </div>
      </div>


    <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#oussama>
                <div class="speaker_img">
                    <img src="/img/speakers/oussama-ammar.jpg" alt="Oussama Ammar">
                    <div class="info_box">
                        <h5 class="name">J - Oussama Ammar</h5>
                    </div>
                </div>
                </a>
            </div>
      </div>

     
          <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#herve>
                <div class="speaker_img">
                    <img src="/img/speakers/herve-le-jacq.jpg" alt="Hervé Le Jacq">
                    <div class="info_box">
                        <h5 class="name">K - Hervé Le Jacq</h5>
                    </div>
                </div>
                </a>
            </div>
      </div>
   

          <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <a href=/orateurs.html#oana>
                <div class="speaker_img">
                    <img src="/img/speakers/oana-juncu.jpg" alt="Oana Juncu">
                    <div class="info_box">
                        <h5 class="name">L - Oana Juncu</h5>
                    </div>
                </div>
                </a>
            </div>
      </div>
   


     <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                 <a href=/orateurs.html#andrea>
                <div class="speaker_img">
                    <img src="/img/speakers/andrea-provaglio.jpg" alt="Andrea Provaglio">
                    <div class="info_box">
                        <h5 class="name">M - Andrea Provaglio</h5>
                    </div>
                </div>
                </a>
            </div>
      </div>



     <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                 <a href=/orateurs.html#nilsloic>
                <div class="speaker_img">
                    <img src="/img/speakers/nils-loic.jpg" alt="Nils Lesieur & Loïc Le Molgat">
                    <div class="info_box">
                        <h5 class="name">N - Nils Lesieur <br/> O - Loïc Le Molgat</h5>
                    </div>
                </div>
                </a>
            </div>
      </div>

        <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/speakers/speaker2.jpg" alt="Anonymous Monster">
                    <div class="info_box">
                        <h5 class="name">Monstre qui rempli une case</h5>
                        <p class="position">Holy talk</p>
                    </div>
                </div>
            </div>
        </div>
   
     <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/speakers/speaker3.jpg" alt="Anonymous Mummy">
                    <div class="info_box">
                        <h5 class="name">Mummy placeholder</h5>
                        <p class="position">MMmmmm</p>
                    </div>
                </div>
            </div>
      </div>
   

     <div class="col-md-3 col-sm-12">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/speakers/speaker4.jpg" alt="Anonymous Mummy">
                    <div class="info_box">
                        <h5 class="name">Amphibian straight</h5>
                        <p class="position">Blup</p>
                    </div>
                </div>
            </div>
      </div>
        
   </div>

    <p>
     <div class="price_footer">
        <a href="https://twitter.com/intent/tweet?button_hashtag=schoolofpo" class="btn btn-primary btn-rounded" data-show-count="false">Je tweet mes réponses au QUIZ</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    </p>
    --> 
</section>

<!--speaker section end -->