<!--section équipe visages -->
<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
               Les membres de l'équipe
            </h3>
        </div>
    </div>
    <div class="row justify-content-center no-gutters">


        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/hobi-rakotoson.jpg" alt="Hobi Rakotoson">
                    <div class="info_box">
                        <h5 class="name">Hobi Rakotoson</h5>
                        <p class="position">Partenariats et desserts</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/david-robert.jpg" alt="David Robert">
                    <div class="info_box">
                        <h5 class="name">David Robert</h5>
                        <p class="position">MC Soirée</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/mickael-caovan.jpg" alt="Mickael Caovan">
                    <div class="info_box">
                        <h5 class="name">Mickael Caovan</h5>
                        <p class="position">Partenariats et surprises</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/marie-anne-le-bot.jpg" alt="Marie-Anne Le Bot">
                    <div class="info_box">
                        <h5 class="name">Marie-Anne Le Bot</h5>
                        <p class="position">Logistique pour le jour J</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/dragos-dreptate.jpg" alt="Dragos Dreptate">
                    <div class="info_box">
                        <h5 class="name">Dragos Dreptate</h5>
                        <p class="position">Chef d'orchestre</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/pablo-pernot.jpg" alt="Pablo Pernot">
                    <div class="info_box">
                        <h5 class="name">Pablo Pernot</h5>
                        <p class="position">Conversations</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/pauline-garric.jpg" alt="Pauline Garric">
                    <div class="info_box">
                        <h5 class="name">Pauline Garric</h5>
                        <p class="position">Débusque l'orateur</p>
                    </div>
                </div>
            </div>
        </div>
        


        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img src="/img/team/nicolas-potier.jpg" alt="Nicolas Potier">
                    <div class="info_box">
                        <h5 class="name">Nicolas Potier</h5>
                        <p class="position">Débusque l'orateur</p>
                    </div>
                </div>
            </div>
        </div>

</section>
-->
<!-- end visages équipe -->