<!-- section partenaires-->

<section class="bg-gray pt100 pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                Nos partenaires
            </h3>
        </div>
        <div class="brand_carousel owl-carousel">
            <div class="brand_item text-center">
                <a href="https://www.benextcompany.com/">
                    <img src="/img/partners/benext.png" alt="brand">
                </a>
            </div>

            <div class="brand_item text-center">
                <a href="https://www.kyriba.fr/">
                    <img src="/img/partners/kyriba.png" alt="brand">
                </a>
            </div>

            <div class="brand_item text-center">
                <a href="https://www.meilleursagents.com/">
                    <img src="/img/partners/meilleursagents.png" alt="brand">
                </a>
            </div>

            <div class="brand_item text-center">
                <a href="https://weloop.io/">
                    <img src="/img/partners/weloop.png" alt="brand">
                </a>
            </div>

            <div class="brand_item text-center">
                <a href="https://www.testingtime.com/fr/ ">
                    <img src="/img/partners/testingtime.png" alt="brand">
                </a>
            </div>

            
        </div>
    </div>
</section>
<!--section partenaires end-->