


<section class="pb100" >
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                Le programme
            </h3>
        </div>


        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>
                            <a href=/bestiaire.html> 
                            <img id=monster1 src=/img/monsters/olaf-lewitz.png />                                
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        
                        <p>
                           <a href=/bestiaire.html> 
                           <img id=monster2 src=/img/monsters/herve-le-jacq.png />                                
                          </a>
                           
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                         <h4>
                           <a href=/programme.html> PROGRAMME</a><a href=/orateurs.html>ORATEURS</a></h4>
                         <h4>   
                            <a href=/bestiaire.html >BESTIAIRE</a><a href=/pdf/livret-school-of-product-ownership.pdf>PDF</a></h4>
                           
                        
                        
                           
                        </h4>

                        <p>
                           <a href=/orateurs.html><img src=/img/monsters/tiles.png /></a>
                        </p>    

                       
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <div class="content">
                        <p>                            
                           <a href=/bestiaire.html>   
                           <img id=monster3 src=/img/monsters/gojko-adzic.png />                                
                           </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <p style="text-align:center;"><a href="/programme.html" class=" btn btn-primary btn-rounded">
                                Tout le programme
                            </a></p>
    </div>
</section>
<!--price section end -->


 <script type="text/javascript">


function shuffle(array) {
    let counter = array.length;

    // While there are elements in the array
    while (counter > 0) {
        // Pick a random index
        let index = Math.floor(Math.random() * counter);

        // Decrease counter by 1
        counter--;

        // And swap the last element with it
        let temp = array[counter];
        array[counter] = array[index];
        array[index] = temp;
    }

    return array;
}


/*function applymonsters() {*/

    var monsters = new Array(
            "amelia-matar.png",
            "amelia-matar-2.png", 
            "gojko-adzic.png", 
            "oana-juncu.png", 
            "herve-le-jacq.png", 
            "olaf-lewitz.png", 
            "olaf-lewitz-2.png", 
            "aurelie-rolland.png",
            "bastien-alex.png", 
            "christopher-parola.png",
            "jonathan-litty.png",
            "oussama-ammar.png",
            "thais-vauquieres.png",
            "andrea-provaglio.png"
            );

    monsters = shuffle(monsters);
    /*document.getElementById('monster1').InnerHTML = "<img src=/img/monsters/"+monsters[0]+"/>";*/
    document.getElementById("monster1").src = "/img/monsters/"+monsters[1]; 
    document.getElementById("monster2").src = "/img/monsters/"+monsters[2]; 
    document.getElementById("monster3").src = "/img/monsters/"+monsters[3]; 
/*}*/

</script>
