
<!--Price section-->
<section class="pb100">
    <div class="container">
        <div class="section_title mb50">
            <h3 class="title">
                Lieu
            </h3>
        </div>

        <div class="row justify-content-center">


            <div class="col-md-6 col-6">
               <img src=/img/location/salle2.png />
            </div>   

            <div class="col-md-6 col-6">

                <h4>
                VERSO, Centre de conférences<br/>
                52 rue de la Victoire, 75009 <br/>
                </h4>
                <a href=http://www.verso-paris.com/>www.verso-paris.com</a><br/>
METRO : Lignes 12, 7<br/>
RER : Ligne E<br/>
BUS : Lignes 26, 32, 42, 43<br/>
                
                
            </div>    
            <div class="col-md-6 col-6">
               <a href=http://www.verso-paris.com/><img src=/img/location/verso.png /></a>
            </div>   

            <div class="col-md-6 col-6">
               <a href=http://www.verso-paris.com/><img src=/img/location/carte-verso.jpg /></a>
            </div>   
        </div>

    </div>
</section>
<!--price section end -->


