<!-- Footer -->
<footer id="footer">
<p>
<h2>Le prochain raid est prévu <strong> ... </strong></h2>

Arrivée un mardi matin à la Gare de Nîmes vers 11h00 (par exemple départ Paris vers 8h00).<br/> Retour le vendredi suivant dans la matinée à la Gare de Nîmes (vers 9h00/ 10h00).

<br/>

Le raid aura lieu dans un <a href=http://www.grand-gite-gard-cevennes-sud.com/nos-g%C3%AEtes/le-grand-g%C3%AEte-description-d%C3%A9taill%C3%A9e-et-disponibilit%C3%A9/>grand gite près de St Jean Du Gard</a>
</p>
<p>
Le tarif est de <strong>2000€ HT</strong> par personne. 
</p>
<p>
<h2>Nous joindre, s'inscrire :</h2>
<a class="fa fa-envelope"><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile"> &Eacutecrivez directement à Claude, Pablo et Laurent</a></a><br/>
tout public, débutant ou non en agile. 
</p>
<p>

<a href=/>Accueil</a> | 
<a href=/temoignages.html>Témoignages</a> |
<a href=/raidme.html>Raidme (guide du raider)</a> |
<a href=/pdfs/Programme-raid-agile.pdf>Le programme</a> |	
<a href=/faq.html>FAQ</a> |
<a href=/lettre-aux-rh.html>Lettre aux RH</a> |
<a href="https://docs.google.com/forms/d/1Kgfsezh66WZDIJ6bJPXcqTDhEhYrvKLrw_nRZIAiyOo/viewform?fbzx=4085798845006332405">Contact</a> |
<a href=https://docs.google.com/forms/d/1RJDpOJepfZBbKTLa4kiAdMgRxlazCVm6m99ZSlvUeMc/viewform>Inscription</a> |
<a href=/raid8.html>Raid#9 Juin 2018</a> |
<a href=/raid8.html>Raid#8 Octobre 2017</a> |
<a href=/raid7.html>Raid#7 Mai 2017</a> | 
<a href=/raid6.html>Raid#6 Octobre 2016</a> | 
<a href=/raid5.html>Raid#5 Avril 2016</a> | 
<a href=/raid4.html>Raid#4 Janvier 2016</a> |
<a href=/raid3.html>Raid#3 Juin 2015</a> |  	
<a href=/raid2.html>Raid#2 Mars 2015</a> |
<a href=/raid1.html>Raid#1 Novembre 2014</a> |
<a href=/raiders.html>Les raiders</a>

</p>

<p>
<span class="copyright">&copy; Raid Agile (Claude Aubry & Pablo Pernot). All rights reserved. <br/>Design: <a href="http://html5up.net">HTML5 UP</a> | Moteur: <a href=http://blog.getpelican.com>Pelican</a></span>			
</p>
</footer>