{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}
{% if article %}
		<!-- Banner -->		
			<section id="banner">
				
				<div class="inner">
					
					<header>
						<h2>RAID AGILE EN C&Eacute;VENNES</h2>
					</header>
					<p>{{ article.subtitle }}</p>
				</div>
				
			</section>

		
		<!-- Main -->
			<article id="main">


					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
							<h2>RAID AGILE #1<br/>Novembre 2014</h2>
						</header>
						
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid1/image1.jpg" alt="" /></a>
									<header>
										<h3>Un paysage inspirant</h3>
									</header>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid1/image2.jpg" alt="" /></a>
									<header>
										<h3>Des repas caloriques</h3>
									</header>
					
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid1/image3.jpg" alt="" /></a>
									<header>
										<h3>Le gite du Canton</h3>
									</header>
									
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/v5.jpg" alt="" /></a>
									<header>
										<h3>Par ici...</h3>
									</header>
								</section>

							</div>

						</div>	

			<div class="row">
						<div class="6u">

							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid1/image5.jpg" alt="" /></a>
									<header>
										<h3>Nourriture intellectuelle</h3>
									</header>
								</section>

							</div>

						<div class="6u">
										
								<section>
									<a href="#" class="image feature"><img src="/theme/images/raid1/image4.jpg" alt="" /></a>
									<header>
										<h3>Le gite du Canton</h3>
									</header>
									
								</section>

							</div>
							

					

					</div>
<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid1/image7.jpg" alt="" /></a>
				<header>
					<h3>Soleil (non garanti)</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid1/image6.jpg" alt="" /></a>
				<header>
					<h3>Rétrospective Châtaigne</h3>
				</header>
				
			</section>

		</div>
</div>


<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid1/image8.jpg" alt="" /></a>
				<header>
					<h3>Des randonnées</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/raid1/image9.jpg" alt="" /></a>
				<header>
					<h3>Encore du sport</h3>
				</header>
				
			</section>

		</div>
</div>


			</section>

<section id="cta">
<header>
			<h2>Vous voulez en <strong>savoir plus </strong>?</h2>
			<p>Contactez nous</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile" class="button special">Contact</a></li>
			</ul>
		</footer>
</section>
<br/><br/>
<section class="wrapper style2 container special">
			<div class="12u">
				<header>
				<h2>Articles</h2> 
				</header>
				<p><a href=http://www.aubryconseil.com/post/Hypotheses-validees-annonce-du-Raid-Agile-2>Les hypothèses validées du #raid 1 par Claude Aubry</a></p>
				<p><a href=http://www.aubryconseil.com/post/La-retrochataigne>La rétro-châtaigne par Claude Aubry</a></p>
				<p><a href=http://areyouagile.com/2015/01/raids-agiles-2015/>Raids agiles 2015 par Pablo Pernot</a></p>
				<p><a href=http://acassaigne.info/posts/2015/02/18/un-raid-agile-pour-une-formation-au-top.html>Un raid agile pour une formation au top par Anthony Cassaigne</a></p>

			</div>
			</section>



			<section class="wrapper style1 container special-alt">
				<div class="row half">
					<div class="12u">

					{{ article.content }}

					</div>
				</div>
			</section>

{% endif %}
{% endblock %}			

