{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}

		<!-- Banner -->		
			<section id="banner" style="background-image: url(/theme/images/light-bl.svg), url(/theme/images/light-br.svg), url(/theme/images/overlay.png), url(/theme/images/quebec/back.jpg);">
				
				<div class="inner">
					
					<header>
						<h2>RAID AGILE AU QUéBEC</h2>
					</header>
					<p>

<strong>Du 5 au 8 octobre 2015</strong>, nous faisons le premier <strong>RAID AGILE AU QUéBEC</strong>.<br/>
Durant la belle saison des couleurs <br/> avec nos amis Charlotte Goudreault & Claude Emond. 

				
<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Raid agile spécial Québec, automne 2015</a></li>
						</ul>
					</footer>


				</div>
				
			</section>
		
		<!-- Main -->
			<article id="main">

<header class="special container">
					<span class="icon fa-paper-plane"></span>
					
<p>
Le «Raid Agile au Québec» c'est l'aventure du raid agile qui s'étend dans la francophonie grâce à Claude Emond et Charlotte Goudreault. Le Raid Agile au Québec, c'est 3 jours à explorer, apprivoiser et vivre l’agilité organisationnelle et personnelle dans Lanaudière/Mauricie, à mi-chemin entre Québec et Montréal du 5 au 8 octobre 2015, pendant la belle saison des couleurs d’automne.
</p>

<h2>Une <strong>façon différente</strong> de vivre <strong>
l'agilité</strong>,<br/> <strong>3 jours "off"</strong>
pour <strong>penser et co-créer</strong><br/> 
en compagnie de vos co-voyageurs, vos co-participants,<br/> 
<a>Charlotte</a>, <a>Claude</a>, <a>Clodio</a> & <a>Pablo</a>
					</h2>					

<p>
Ce Raid Agile, c’est une vingtaine de personnes qui se retrouvent au Québec pour une «formAction» agile originale.
</p>
<p>
Pendant trois jours et trois nuits, ils partagent leurs expériences, jouent ensemble, goûtent à des outils d’intelligence collective, randonnent dans la nature, mangent et boivent des spécialités locales et s’ouvrent l’esprit aux nouvelles pratiques du management, de l'agilité organisationnelle et de la gestion de produit.
</p>



				</header>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" name=paypal>
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="UDDXHJFQDV7TC">
<!--<input type="image" src="https://www.paypalobjects.com/fr_CA/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
<img alt="" border="0" src="https://www.paypalobjects.com/fr_CA/i/scr/pixel.gif" width="1" height="1">-->
</form>

				
			<section class="wrapper style2 container special-alt">
				<div class="row half">
					<div class="8u">
					
<header>
<h2>OÙ, QUAND, COMMENT ?</h2> 
</header>
<p><h3>OÙ</h3>Région de Lanaudière/Mauricie</p>

<p><h3>QUAND</h3>
Du lundi matin 5 octobre au jeudi matin 8 octobre 2015. 
</p>

<p><h3>COMMENT</h3>
<ol>
<li>DES ATELIERS 
	<blockquote>
	<ul>
		<li>AGILITÉ ORGANISATIONNELLE (VALEURS, PRINCIPES, PROCESSUS, STRUCTURES ET OUTILS)</li>
		<li>CHANGEBOXING (TECHNIQUE FAVORISANT ET ACCÉLÉRANT L’ÉMERGENCE DE LA CULTURE AGILE DANS L’ENTREPRISE)</li>
		<li>IMPACT MAPPING</li>
		<li>"USER STORIES" EFFICACES</li>
		<li>PLANS DE PRODUIT/DE LIVRAISON AGILE</li>
		<li>PLANIFICATION ESTIMATION AGILE</li>
		<li>TEAM BUILDING ET ACCROISSEMENT DE LA PERFORMANCE (PAR L’ALIGNEMENT ET L’ENGAGEMENT ACCRÛS DES 
ÉQUIPES ET DES ORGANISATIONS)</li>
		<li>AUTRES SUJETS ÉMERGENTS SPONTANÉMENT AU COURS DU RAID SELON LES BESOINS EXPRIMÉS PAR LES PARTICIPANTS</li>
	</ul></li>
	</blockquote><br/>
<li>DES CONVERSATIONS SUR "SCRUM", "KANBAN", "LEAN-STARTUP", AUTO-ORGANISATION (HOLACRACY) ET AUTRES SUJETS ÉMERGENTS SPONTANÉMENT AU COURS DU RAID<li><br/>
<li>DES RÉFLEXIONS SUR LA AGILE, SA NÉCESSITÉ, LES CONDITIONS À METTRE EN PLACE POUR SON ÉMERGENCE ET AUTRES SUJETS ÉMERGENTS SPONTANÉMENTAU COURS DU RAID.</li><br/>
<li>DES RANDONNÉES, REPAS ET DES SOIRÉES REFLÉTANT LES PRINCIPES AGILES ET PERMETTANT DE VIVRE UNE EXPÉRIENCE TEINTÉE DES VALEURS AGILES</li>
</ol>

Tout ça dans un environnement propice à l’acquisition rapide et durable d’une agilité autant individuelle que collective: gîte confortable et spacieux, superbe nature environnante, cuisine généreuse, accueil charmant, climat vivifiant.

					</div>
					<div class="4u skel-cell-important">
					
						<ul class="feature-icons">
							<li><span class="icon fa-share-alt"><span class="label">Feature 1</span></span></li>
							<li><span class="icon fa-refresh"><span class="label">Feature 2</span></span></li>
							<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
							<li><span class="icon fa-spoon"><span class="label">Feature 4</span></span></li>
							<li><span class="icon fa-tree"><span class="label">Feature 5</span></span></li>
							<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
						</ul>
					
					</div>				
				</div>
			</section>


			<section class="wrapper style3 container special-alt">
			<div class="12u">
				<header>
				<h2>INSCRIPTION</h2>

<p>
<span style=color:red>NOTE: TOUS LES PRIX CITÉS SONT DES PRIX AVANT TPS ET TVQ.</span>
</p>
 
				</header>
				<h3>Ticket Lève-tôt / Early Bird</h3>

<p>
Il y a un tarif "lève-tôt" pour les participants qui s’inscrivent avant le 1er juillet. Le tarif  «lève-tôt» est de 1 900$ tout inclus (3 jours d'atelier, tous les repas et 3 nuits, sauf transport - arrivée le 5 octobre pour midi, départ le 8 octobre après le petit déjeuner).
</p>

				<h3>Ticket</h3>
<p>
Le tarif est de 2 150$ tout inclus (3 jours d'atelier, tous les repas et 3 nuits, sauf transport - arrivée le 5 octobre pour midi, départ le 8 octobre après le petit déjeuner).
</p>
				<h3>Ticket groupe</h3>
<p>Le ticket groupe c'est 5 pour le prix de 4. Soit 8 600$ pour 5 personnes du même groupe au lieu de 10 750$</p>
				

<p style=background-color:grey;color:white;padding:10px;>
Ces prix incluent 3 repas de midi, 3 repas du soir, 3 petits déjeuners, 3 nuits d’hébergement en chambre individuelle, et la présence des formateurs/facilitateurs durant toute la durée du séjour 
<br/><br/>

Agenda du séjour : arrivée (déplacement à votre discrétion) au lieu du raid (à mi-chemin entre Montréal et Québec dans Lanaudière/Mauricie) pour le repas de lundi midi, lundi après-midi, mardi et mercredi ateliers, jeudi matin départ après le petit-déjeuner à votre discrétion 
<br/><br/>
Le voyage jusqu'au lieu du raid agile et le retour est à la charge des participants. 
<br/><br/>
(* L’attestation de formation inclura un no d’agrément auprès d’Emploi Québec. Cette formation est éligible aux crédits d’impôts et programmes de subvention usuels)
</p>
				<h3>S'inscrire</h3>

<p>
Pour s'inscrire vous devez faire un dépôt remboursable de 500$ (soit 578$ avec TPQ et TPS). Le paiement de la balance sera dû pour fin août 2015. Si nous annulons l'évènement pour quelques raisons que cela soit, nous vous remboursons l'intégralité du dépôt. Si vous devez annuler pour quelque raison que ce soit, vous pouvez envoyer une autre personne à votre place; dans le cas d’annulation de votre part, le dépôt ne peut pas vous être remboursé puisque nous devrons respecter nos engagements envers le gîte choisi pour le nombre de places réservées.
</p>


				<ul class=buttons name=buttons>
				<li><a href="https://docs.google.com/forms/d/1q4uaqjCAAPC7TRaE6yOh6Y6Y0tMoch8lfCG9mmKtR0A/viewform" class="button special">Nous joindre</a></li>
				<li><a href=#buttons class="button special" onclick="javascript:document.paypal.submit();">S'inscrire avec Paypal&nbsp;<span class="icon fa-paypal"></span></a></li>
				</ul>	
				<a href=#buttons><img src=/theme/images/quebec/paypal-logo.png onclick="javascript:document.paypal.submit();" /></a>

				<p>
				* Les tarifs sont hors taxes, il faut y ajouter TPS et TVQ.<br/>
				
				</p>

			</div>
			</section>

<section id="cta" style="background-image: url(/theme/images/light-bl.svg), url(/theme/images/light-br.svg), url(/theme/images/overlay.png), url(/theme/images/quebec/back.jpg);">			
				<header>
					<h2>Êtes-vous Prêt à vous <strong>immerger</strong>?</h2>
					<p>Faites le nous savoir</p>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="https://docs.google.com/forms/d/1q4uaqjCAAPC7TRaE6yOh6Y6Y0tMoch8lfCG9mmKtR0A/viewform" class="button special">Contact</a></li>
					</ul>
				</footer>
</section>			
			


<section class="wrapper style1 container special">
<br/>
<h2>Nos accompagnateurs</h2>
	
	<div class="row">

<div class="3u">
	<section>
	<header>
		<h3>Charlotte Goudreault</h3>
	</header>
<a class="image feature" href="#"><img class="image feature" src="/theme/images/quebec/charlotte.jpg"></a>
<p style="text-align:justify;">

Charlotte Goudreault, Maître Praticienne en PNL, MBA, est co-fondatrice, associée principale, coach et formatrice en agilité organisationnelle de Quali-Scope. Détentrice d’un MBA et d’un diplôme postuniversitaire en management international des affaires, elle est Maître praticienne en programmation neuro linguistique (PNL) et possède une formation universitaire en psychopédagogie. Mme Goudreault a plus de 20 ans d’expérience en management de projets divers, tant au niveau de la recherche universitaire, que des projets d’ingénierie-construction, éducatifs et socio-économiques. Elle a enseigné le développement et la gestion d’équipes de projets au Cesi (Lyon, Nancy, Nantes, Rouen et Aix) et aux Hautes Études Commerciales (Université de Montréal), et dirige les ateliers de gestion d’équipe de projets offerts par l’Institut de développement de produits du Québec. Elle se spécialise en conduite du changement ainsi qu’en alignement, développement et gestion des équipes de projets en mode agile. 

</p>
</section></div>
<div class="3u">
	<section>
	<header>
		<h3>Claude Emond</h3>
	</header>
<a class="image feature" href="#"><img class="image feature" src="/theme/images/quebec/claude.jpg"></a>
<p style="text-align:justify;">


Claude Émond, BEng, MEng, MBA, PMP, est co-fondateur, associé principal, coach et formateur en agilité organisationnelle de Quali-Scope, Montréal, Canada. Il détient un baccalauréat en génie chimique, une maîtrise en ingénierie, un MBA, et est certifié Project Management Professional par le Project Management Institute. Expert reconnu internationalement en management par projet, en conduite du changement et en agilité organisationnelle, il a plus de 30 ans d’expérience dans la gestion de projets majeurs et l’accompagnement pour la mise en place de cultures et processus opérationnels plus agiles, notamment pour plusieurs organismes gouvernementaux et entreprises privées au Canada, aux États-Unis, en Europe et au Maghreb. Il enseigne le management par projet dans le cadre de plusieurs programmes de certification en gestion de projet, notamment pour les écoles du Cesi à Lyon, Rouen, Nantes, Nanterre et Toulouse. Il est un des co-auteurs de la première norme de gestion de portefeuille de projet du PMI («The Standard for Portfolio Management»). Il est le créateur de la méthodologie «Changeboxing».
<br/>
En savoir plus sur <a href=http://www.claudeemond.com/>Claude Émond</a>

</p>
</section></div>

<div class="3u">
		<section>
	<header>
		<h3>Claude Aubry</h3>
	</header>
	<a class="image feature" href="#"><img class="image feature" src="/theme/images/quebec/clodio2.jpg"></a>
				<p style="text-align:justify;">

Pionnier de Scrum en France, il a contribué à sa diffusion avec son blog <a href="http://www.aubryconseil.com/" target="_blank">Scrum, Agilité et Rock’n roll</a> lancé en 2007. Avec plus de 30 ans d'expérience, c'est un vétéran de l'industrie du logiciel, qui a commencé comme développeur et a eu des responsabilités dans de nombreux projets. Il a longtemps été professeur associé de génie logiciel à l'Université Paul Sabatier de Toulouse et Product Owner d'IceScrum, outil Open Source dont il est à l'origine.<br><br>

Il accompagne désormais les entreprises dans leur transition vers l'Agilité avec ses formations et du coaching, seul ou avec des partenaires de la <a href="http://federationagile.com/" target="_blank">Fédération Agile</a>. <br><br>

Il a écrit le livre « Scrum, le guide pratique de la méthode agile la plus populaire», édition Dunod, première parution en février 2010, 3ème édition en juin 2013, diffusé à plus de 10 000 exemplaires. <br>
</p>
</section></div>
							
<div class="3u">
	<section>
	<header>
		<h3>Pablo Pernot</h3>
	</header>
<a class="image feature" href="#"><img class="image feature" src="/theme/images/quebec/pablo.jpg"></a>
<p style="text-align:justify;">


Après une maitrise sur les Monty Python, un DEA sur le non-sens et l’absurde, l’entame d’un doctorat sur les comiques cinématographiques il parait normal que Pablo se soit lancé dans le management et la conduite du changement, c’est -finalement- une suite logique.<br><br>

Actuellement coach expérimenté en management organisationnel, conduite du changement, et agilité (fondateur de <a href="http://www.smartview.fr">SmartView</a>). Depuis l'été 2013 (et sa rencontre avec Dan Mezick) il soutient et utilise l'initiative <em>Open Agile Adoption</em>. <br><br>

Vous trouverez la production de Pablo Pernot sur son blog : <a href="http://www.areyouagile.com">www.areyouagile.com</a>, notamment un petit ouvrage sur la culture agile : <a href="https://github.com/pablopernot/lahordeagile/blob/master/lahordeagile.pdf?raw=true">La horde agile</a>.

</p>
</section></div>
											
</section>					



<section class="wrapper style3 container special">
<div class="12u">
	<header>
	<h2>Quelques images des lieux envisagés</h2> 
	</header>
	
<div class="row">
	<div class="6u">
	
		<section>
			<a href="#" class="image feature"><img src="/theme/images/quebec/quebec1.jpg" alt="" /></a>
			<header>
				<h3>Région de la Lanaudière</h3>
			</header>
		</section>

	</div>
	<div class="6u">
	
		<section>
			<a href="#" class="image feature"><img src="/theme/images/quebec/quebec2.jpg" alt="" /></a>
			<header>
				<h3>Région des Laurentides</h3>
			</header>

		</section>

	</div>
</div>

<div class="row">
	<div class="6u">
	
		<section>
			<a href="#" class="image feature"><img src="/theme/images/quebec/quebec3.jpg" alt="" /></a>
			<header>
				<h3>Spécialités locales</h3>
			</header>
		</section>

	</div>
	<div class="6u">
	
		<section>
			<a href="#" class="image feature"><img src="/theme/images/quebec/quebec4.jpg" alt="" /></a>
			<header>
				<h3>Région des Cantons de l'Est</h3>
			</header>

		</section>

	</div>
</div>
   
</div>
</section>

<section class="wrapper style3 container special-alt">
			<div class="12u">
				<header>
				<h2>L'AGILITÉ AU CUBE</h2>

<p>
Une formation pour vous projeter dans les nouvelles formes d'organisation du travail, bien au-delà des méthodologies et outils usuels de l’AGILE. La découverte et l’apprentissage d’une culture organisationnelle centrée sur l’humain, adaptée à notre réalité du début du 21e siècle (environnement VICA : Volatile, Incertain, Complexe et Ambigu), augmentant la performance de votre organisation et permettant d’accélérer et d’optimiser les bénéfices de toutes vos parties prenantes.  
</p>

			
<div class="row">
<div class="4u">

		<section>
			
			<header>
				<h3 class="fa fa-check-circle">CULTURE</h3>
			</header>
			<p>Découverte et expérimentation d'une culture "véritablement" agile du développement et de la livraison opérationnelle de produits et services, au niveau d'une équipe ou d'une organisation.
<br/><br/>
<strong>
Impact : meilleur alignement stratégique, les participants sauront gérer les dépendances avec leur environnement professionnel plus facilement.
</strong>
 </p>
		</section>
</div>

<div class="4u">

		<section>
			
			<header>
				<h3 class="fa fa-check-circle">MATURITE</h3>
			</header>
			<p>
Discussions et ateliers dans un cadre différent dans un endroit calme et propice avec des pairs venant de différents contextes et avec des experts chevronnés et reconnus internationalement, qui feront profiter de leur expérience.
<br/><br/>
<strong>
Impact : niveau de maturité sur les valeurs augmentées, les participants sauront mieux réagir dans des situations faisant appel aux valeurs (courage, focus…) et aux principes (empirisme, priorité, équipe habilitée, plus dynamique, autonome et responsable autant collectivement qu’indivisuellement).
</strong>


 </p>
		</section>

</div>
					
<div class="4u">
	
		<section>
			
			<header>
				<h3 class="fa fa-check-circle">APPRENTISSAGE</h3>
			</header>
			<p>

Apprentissage des dernières techniques et outils favorisant l’agilité organisationnelle (impact mapping, story mapping, kanban, changeboxing, alignement des niveaux logiques, augmentation de l’engagement et des performances par la gestion de la dynamique d’équipe, etc.) en les pratiquant en groupes.
<br/><br/>
<strong>
Impact : les participants auront acquis de nouvelles compétences immédiatement applicables dès leur retour en entreprise.
</strong>

 </p>
		</section>

	
</div>
</div> <!-- row -->




</div>
</section>


{% endblock %}			

