{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}
		{% if article %}
		<!-- Banner -->		
			<section id="banner">
				
				<div class="inner">
					
					<header>
						<h2>{{ article.title }}</h2>
					</header>
				</div>
				
			</section>

		<!-- Main -->
			<article id="main">
				
				<header class="special container">
					<span class="icon fa-{{ article.awesomefonticon }}"></span>
					<h2> {{ article.subtitle }} </h2>
				</header>
				
				<section class="wrapper style1 container special-alt">
					{{ article.content }}
				</section>
			</article>

	{% endif %}

{% endblock %}			

