{% extends "base.html" %}
{% block maintitle %}
{% endblock %}
{% block content %}
{% if article %}
		<!-- Banner -->		
			<section id="banner" style='background-image: url("/theme/css/images/light-bl.svg"), url("/theme/css/images/light-br.svg"), url("/theme/images/overlay.png"), url("/theme/images/tribal/background.jpg");'>
				
				<div class="inner">
					
					<header>
						<h2>{{ article.maintitle }}</h2>
					</header>
					<p>{{ article.subtitle }}</p>
				</div>
				
			</section>

		
		<!-- Main -->
			<article id="main">



			<section class="wrapper style3 container special-alt">
				<div class="row half">
					<div class="12u">

					{{ article.content }}

					</div>
				</div>
			</section>
			<br/><br/>

<section id="cta" style='background-image: url("/theme/css/images/light-bl.svg"), url("/theme/css/images/light-br.svg"), url("/theme/images/overlay.png"), url("/theme/images/tribal/background.jpg");'>
<header>
			<h2>Vous voulez en <strong>savoir plus </strong>?</h2>
			<p>Contactez nous</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="mailto:claude.aubry@gmail.com,pablo.pernot@protonmail.com,laurent.morisseau@gmail.com?subject=RaidAgile" class="button special">Contact</a></li>
			</ul>
		</footer>
</section>
<br/><br/>

					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
							<h2>RAID AGILE TRIBAL <a href=http://www.xee.com/>XEE <img src=/theme/images/tribal/logo-xee.jpg></a></h2>
						</header>
						
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/tribal/xee1.jpg" alt="" /></a>
									<header>
										<h3>Le nord, le sport</h3>
									</header>
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/tribal/xee2.jpg" alt="" /></a>
									<header>
										<h3>Hors des bureaux</h3>
									</header>
					
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/tribal/xee3.jpg" alt="" /></a>
									<header>
										<h3>Petite maison du Scrum</h3>
									</header>
									
								</section>

							</div>
							<div class="6u">
							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/tribal/xee4.jpg" alt="" /></a>
									<header>
										<h3>Par ici...Equihen-Plages</h3>
									</header>
								</section>

							</div>

						</div>	

			<div class="row">
						<div class="6u">

							
								<section>
									<a href="#" class="image feature"><img src="/theme/images/tribal/xee5.jpg" alt="" /></a>
									<header>
										<h3>Ultimate freesbee</h3>
									</header>
								</section>

							</div>

						<div class="6u">
										
								<section>
									<a href="#" class="image feature"><img src="/theme/images/tribal/xee6.jpg" alt="" /></a>
									<header>
										<h3>Conversations croisées</h3>
									</header>
									
								</section>

							</div>
							

					

					</div>
<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/tribal/xee7.jpg" alt="" /></a>
				<header>
					<h3>Outdoor BDD</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/tribal/xee8.jpg" alt="" /></a>
				<header>
					<h3>C'est là que se dépose la valeur</h3>
				</header>
				
			</section>

		</div>
</div>


<div class="row">
	<div class="6u">

		
			<section>
				<a href="#" class="image feature"><img src="/theme/images/tribal/xee9.jpg" alt="" /></a>
				<header>
					<h3>Team Building</h3>
				</header>
			</section>

		</div>

	<div class="6u">
					
			<section>
				<a href="#" class="image feature"><img src="/theme/images/tribal/xee10.jpg" alt="" /></a>
				<header>
					<h3>Jus de cerveau</h3>
				</header>
				
			</section>

		</div>
</div>


			</section>


{% endif %}
{% endblock %}			

