
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=benext>
        

        <div class="section_title mb50">
            <h3 class="title" >
              beNext
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/partners/sauron.png />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                
                <p>
                    <h4>Sponsor Sauron</h4>
                </p>
                <p>
                    

                
        </div>    

    </div>

</section>