
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=dracula>
        
        <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6">
                <p>
        
                    <img src=/img/partners/dracula.png /> 
                </p>
        </div>    
        <div class="col-md-4 col-sm-6">
                <p>
                    <a href=https://weloop.io/ ><img src=/img/partners/weloop.png /></a>    
                </p>
        </div>    

        <div class="col-md-4 col-sm-6">
                <p>          
                    <a href=https://www.testingtime.com/fr/ ><img src=/img/partners/testingtime.png /></a>    
                </p>
        </div>    

    </div>

</section>