
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=benext>
        
        <div class="row justify-content-center">
        <div class="col-sm-4 col-md-6">
                <p>
        	    <img src=/img/partners/franky.png />  
                </p>
        </div>    

		<div class="col-sm-4 col-md-6">
                <p>
                <a href=https://www.kyriba.fr/ ><img src=/img/partners/kyriba2.png /></a>              
                </p>
        </div>    


    </div>

</section>