
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=benext>
        
        <div class="row justify-content-center">
        <div class="col-sm-4 col-md-6">
                <p>
                    <img src=/img/partners/lagoon.png />
                </p>
        </div>    
		<div class="col-sm-4 col-md-6">
                <p>
                    <a href=http://meilleursagents.com ><img src=/img/partners/meilleursagents.png /></a>                    
                </p>
        </div>    
    </div>

</section>