
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=sauron>
        
        <div class="row justify-content-center">
        <div class="col-sm-4 col-md-6">
                <p>
                    <img src=/img/partners/sauron.png />  
                </p>
        </div>    

		<div class="col-sm-4 col-md-6">
                <p>
                    <a href=http://benextcompany.com ><img src=/img/partners/benext.png /></a>
                </p>
        </div>    
    </div>

</section>