
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=amelia>
        
        <div class="section_title mb50">
            <h3 class="title">
              Amélia Matar  
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/amelia-matar.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p><h4>Founder @COLORI</h4></p>
                <p>
                Fondatrice de COLORI. Amélia a travaillé dans le milieu startup et digital pendant plusieurs années. Directrice marketing de NUMA durant ces deux dernières années, elle se passionne pour l’éducation à la naissance de son fils et se forme à la pédagogie Montessori.
                <br/><br/>
                Le projet COLORI est à la croisée de son profil « tech » et de son grand intérêt pour la pédagogie Montessori. https://www.colori-montessori.com/
                <br/><br/>
                <em>Sur sa session : </em>Maria Montessori a conçu une approche pédagogique plébiscitée dans le monde entier, et surtout parfaitement adaptée à son utilisateur : l'enfant. Quels ont été ses secrets de PO pour parvenir à un tel résultat ? Force est de constater que sa méthodologie séculaire ressemble étonnamment à celles en vogue aujourd'hui, les anglicismes en moins.
                <br/><br/>
                <em>Sur son atelier : </em>
                L'enfant de 6 ans n'est pas un utilisateur comme les autres. Il est pourtant mal connu et de nombreux produits et services sont conçus sans prendre en compte ses spécificités. Venez déconstruire les préjugés couramment véhiculés sur lui pour mieux appréhender les contours de ses besoins.
                <br/><br/>

                <a href="https://twitter.com/ameliamatar" class="ion-social-twitter"></a>

                <p>
                <h4>Sa session : Maria Montessori, la meilleure product owner au monde.</h4>
                 
                <h4>Son atelier : Déconstruire les préjugés (notamment avec des enfants de moins 6 ans).</h4>
                </p>

                
        </div>    

    </div>

</section>