
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=andrea>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Andrea Provaglio
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/andrea-provaglio.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>

                <h4>Andrea Provaglio</h4>    
                </p>
                Achieving best business results require a clear and shared understanding of what value means among all stakeholders involved in your software initiative, so that we can make the best use of the available time and money to generate the desired business outcome.
                <br/><br/>
                During this workshop you will learn, by practical exercises: how the concept of “value” differs for different stakeholders and how to take a system view over the concept of value; ways to make this complexity visible; and practices to establish a common language in the execution of your software initiative.
                <p>
                
                <a href="https://twitter.com/andreaprovaglio" class="ion-social-twitter"></a>
                </p>
                <p>
                <h4>Son atelier : Aiming for value</h4>
                </p>

                
        </div>    

    </div>

</section>