
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=aurelie>
        

        <div class="section_title mb50">
            <h3 class="title" >
              Aurélie Jean
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/aurelie-jean.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                
                <p>
                    <h4>Computational Scientist and Business owner @MixR / In Silico Veritas</h4>
                </p>
                <p>
                    Aurélie JEAN possède plus de 10 ans d’expérience dans les sciences computationnelles aux États-Unis et en France. Aurélie a utilisé les mathématiques appliquées et la programmation informatique dans diverses disciplines telles que l’ingénierie, la médecine, l’éducation, l’économie, la finance, l’art ou le journalisme. Aurélie considère l’informatique et le codage comme un moyen d’autonomiser les femmes. En tant que modèle, elle inspire et aide les femmes à suivre sa vision. De plus, Aurélie veut que chacun devienne un puissant utilisateur des nouvelles technologies, en comprenant mieux et en capturant la sémantique et les idées technologiques.
                    <br/><br/>

                    <a href="https://twitter.com/Aurelie_JEAN" class="ion-social-twitter"></a>
                        
                <p>
                <h4>Sa session : Ni trop tôt, ni trop tard, le code n'a pas d'âge.</h4>
                </p>

                
        </div>    

    </div>

</section>