
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=aurelierolland>
        

        <div class="section_title mb50">
            <h3 class="title" >
              Aurélie Rolland
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/aurelie-rolland.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                
                <p>
                    <h4>Product Designer</h4>
                </p>
                <p>
                    Vous êtes convaincus que la pertinence d’un produit se traduit par le soin apporté à l’expérience utilisateur ? Vous souhaiteriez vous familiariser un peu plus à l’UX design ? Cet atelier est pour vous ! 
                    <br/><br/>
                    Dans un premier temps, nous reviendrons très brièvement sur les concepts de base du design puis autours d’un projet, nous mettrons en pratique les grandes étapes clefs d’une conception centrée utilisateur.
                    <br/><br/>
                    À vos produits, n’oubliez que chaque membre d’une équipeest garant d’une bonne expérience utilisateur.
                    <br/><br/>

                    <a href="https://medium.com/@aurlierolland">https://medium.com/@aurlierolland</a>
                        
                <p>
                <h4>Son atelier : Premiers pas dans les chaussures d'un UX Designer</h4>
                </p>

                
        </div>    

    </div>

</section>