
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=bastienalex>
        

        <div class="section_title mb50">
            <h3 class="title" >
              Bastien Naudé & Alexandre Thibault
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/bastien-naude-alexandre-thibault.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                
                <p>
                    <h4>Coach et graine de coach chez beNext</h4>
                </p>
                <p>
                    Connaissez vous le MVPO aka le Minimal Viable Product Owner ? Partez avec Alexandre et Bastien à la découverte des principaux outils et techniques pour réussir dans ce rôle clef. 
                    <br/><br/>
                    Peu importe d'où vous venez, vous êtes aujourd'hui Product Owner et on a besoin de vos services pour aider une équipe dans le développement d'un produit. Vous vous retrouvez dans un nouveau contexte sans forcément connaître le sujet métier et l'équipe compte sur vous ! Mais comment s'assurer que les premières user stories auront de la valeur ? Quid de la vision ?<br/>
                    Une course contre le temps démarre, celle pour obtenir de la reconnaissance, de la confiance et de la crédibilité de la part de votre équipe et de vos responsables.<br/>
                    Venez découvrir avec Alexandre et Bastien quels sont les outils et les techniques nécessaires au Product Owner afin de réussir dans leur rôle.
                    <br/><br/>

                    <a href="https://twitter.com/_bnaude?lang=fr" class="ion-social-twitter">Bastien</a><br/>
                    <a href="https://twitter.com/AlexandreThib?lang=fr" class="ion-social-twitter">Alexandre</a>    
                <p>
                <h4>Leur atelier : Minimal Viable Product Owner.</h4>
                </p>

                
        </div>    

    </div>

</section>