
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=christopher>
        
        <div class="section_title mb50">
            <h3 class="title">
              Christopher Parola 
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/christopher-parola.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p><h4>Lead Product Manager @MeilleursAgents. Product enthusiastic. Former-CEO of elCurator.net. Speaker on PM events.</h4></p>
                <p>
                    Nous passons nos journées à poser des hypothèses sans le savoir. Qu'il s'agisse de créer un nouveau produit, concevoir une fonctionnalité ou choisir la couleur d'un bouton, nos décisions sont souvent basées sur des intuitions et non sur des faits.
                    <br/><br/>
                    Pendant cet atelier nous parlerons des différents types d'hypothèses, d'une manière efficace de formuler des hypothèses et de l'atelier "arbre d'hypothèses" pour favoriser la formulation d'hypothèses en équipe. Enfin nous créerons un carnet d'apprentissage qui permettra a vous et vos équipes de documenter les résultats des tests que vous menez pour valider ces hypothèses  
                <br/><br/>
                <a href=https://twitter.com/chrisparola class="ion-social-twitter"></a>

                <p>
                <h4>Son atelier : Tout est hypothèse.</h4>
                </p>

                
        </div>    

    </div>

</section>