
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=gojko>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Gojko Adzic  
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/gojko-adzic.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>

                <h4>Author of Humans vs Computers, Impact Mapping, Specification by Example and a few more books… Working on MindMup and Claudia.js.</h4>    
                </p>
                <p>
                Gojko Adzic is a partner at Neuri Consulting LLP. He is the winner of the 2016 European Software Testing Outstanding Achievement Award, and the 2011 Most Influential Agile Testing Professional Award. Gojko’s book Specification by Example won the Jolt Award for the best book of 2012, and his blog won the UK Agile Award for the best online publication in 2010.
                <br/><br/>
                Gojko is a frequent speaker at software development conferences and one of the authors of MindMup and Claudia.js.
                <br/><br/>
                As a consultant, Gojko has helped companies around the world improve their software delivery, from some of the largest financial institutions to small innovative startups. Gojko specialises in are agile and lean quality improvement, in particular impact mapping, agile testing, specification by example and behaviour driven development.
                <br/><br/>
                <a href="https://twitter.com/gojkoadzic" class="ion-social-twitter"></a>
                </p>
                <p>
                <h4>Sa session : Maximum impact, minimum effort</h4>
                </p>

                
        </div>    

    </div>

</section>