
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=herve>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Hervé Le Jacq
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>
                  <img src=/img/speakers/herve-le-jacq.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p><h4>Hervé Le Jacq, conteur</h4></p>
                <p>
               
                   Le conteur breton est installé dans le Languedoc. Il va à la rencontre des enfants et des grands tel un troubadour, pour leur transmettre ses histoires de héros qui gagnent le plus souvent ou de vrais lutins qui emplissent les forêts. 
                   <br/><br/>
                   C’est pourtant une coïncidence qui a fait que Hervé est devenu conteur. Mettre le mot de conteur sur ce qu’il faisait ne s’est pas fait naturellement. « J’ai toujours été dans le monde des histoires et des images. Vers 20 ans, avec les potes, on remplissait les voitures le vendredi soir et on allait camper dans la forêt de Brocéliande, on se racontait des histoires. » En 2000, il voit une conteuse à Dunkerque qui raconte l’histoire d’un corsaire de la ville, et c’est la prise de conscience. Un ami lui dit « Et si on racontait des histoires ? » et c’est comme ça que l’histoire commence.
                <br/><br/>
                 À partir de là, il s’agit de « passer du naturel à une notion de spectacle même si je n’aime pas le terme, mais c’est ce qu’on me demandait ». Depuis il s’est fait son réseau pour raconter des histoires aussi bien aux enfants qu’aux adultes : « Les contes sont accessibles à tous, juste les enfants doivent les écouter plusieurs fois pour tout comprendre. » Par ailleurs, le conte n’est jamais figé et laisse une part à l’impro : « Guy le Long est l’histoire qui est la plus près d’un texte mais elle n’est pas deux fois pareil. »
                <br/><br/>
                À la conférence "School of product ownership" il viendra donner quelques'unes de ses ficelles sur le <i>storytelling</i>
                <br/><br/> 
                <a href=http://hervelejacq.free.fr/Herve_Le_Jacq_Conteur/Herve_Le_Jacq.html>Le site de Hervé Le Jacq</a>
                </p>
                <p>
                <h4>Son atelier : Utiliser le conte</h4>
                </p>

                
        </div>    

    </div>

</section>