
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=jonathan>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Jonathan Litty
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/jonathan-litty.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>
                    <h4>Coach UX Design Cheese Master</h4>
                    Coach en Innovation et UX Design chez beNext<br/>
                    Curieux et adorant expérimenter, passionné du digital et de l'innovation,  amateur d'art et de créativité, fasciné par l'Humain...et par le fromage fondu. 
                </p>
                <p>
               <strong>L'atelier</strong><br/>
                Vous avez déjà entendu parler de Design Sprint mais avez du mal à voir concrètement en quoi ça consiste et comment/quand l'appliquer ?
                <br/><br/>
                Cet atelier est construit pour répondre à ces questions, et vous donner quelques précieux conseils sur la préparation et l'animation d'un Design Sprint. 
                <br/><br/>
                Point de raclette au menu, mais via un cas pratique simple, nous déroulerons ensemble en 1h30 une version fondue du traditionnel Design Sprint en 5j. Cela vous permettra de vivre les ateliers les plus emblématiques du Design Sprint, et d'être ainsi capable de mieux appréhender cette méthode particulière mais bigrement efficace si bien appliquée ! 
                <br/><br/>
                Ouvert à tous, niveau débutant sur le Design Sprint, allergiques au fromage acceptés 🧀     
                <br/><br/>
                <a href="https://twitter.com/jlitty" class="ion-social-twitter"></a>
                </p>
                <p>
                <h4>Son atelier : Raclette de "Design Sprint"</h4>
                </p>

                
        </div>    

    </div>

</section>