
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=nilsloic>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Nils Lesieur & Loïc Le Molgat
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>
                  <img src=/img/speakers/nils-loic.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>
                    <h4>
                            Nils Lesieur, Coach agile et Playmobile chez beNext, Formateur à la School Of Product Ownership, Rugbyman du canapé et supporter du Stade Toulousain
                    </h4>
                    <h4>
                            Loïc Le Molgat, Coach agile chez beNext, facilitateur, coach orga et individuel. Aime animer des séminaires, jouer au poker et courir derrière ses deux enfants.
                    </h4>
                </p>
                <p>

La recette est simple : troubles de la vision, débats tranchants, impacts sanglants et des coupes franches. Ca va saigner ! Préparez gri-gri, porte-bonheur et grimoire si vous ne voulez pas vendre votre âme au diable.
<br/><br/>
L’impact mapping est un outil puissant pour décline voter vision en hypothèses plausibles ; il nous semble important de partager ces pratiques avec la communauté de la school.
<br/><br/>
Le format sera un atelier en 2 parties : élaboration de la vision d'un produit jusqu’à sa déclinaison en actions concrètes.
<br/><br/>
C’est un atelier “venez comme vous êtes!” : product owners, coaches, devs et tous les autres sont les bienvenus. Le diable accueille toutes les bonnes âmes.
<br/><br/>

                
                <br/><br/>
                <a href=https://twitter.com/Nils_Back class="ion-social-twitter">Nils</a>
                <a href=https://twitter.com/llemolgat class="ion-social-twitter">Loïc</a>
                </p>
                <p>
                <h4>Leur atelier : Impact with the devil</h4>
                </p>

                
        </div>    

    </div>

</section>