
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=oana>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Oana Juncu
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>
                  <img src=/img/speakers/oana-juncu.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p><h4>Oana Juncu, Test Driven Business DJ entrepreneur mixing Agile Kanban, Lean, storytelling and neuroscience so purposeful organisations can thrive, proud of their outcomes.</h4></p>
                <p>
                Nous concevons des services, nous concevons des logiciels, nous concevons des offres. Nous concevons des systèmes. Nous concevons. La théorie des systèmes indique que les agents du changement font partie de l'organisation, et quand nous tordons le système il nous revient dans la figure. 
                <br/><br/>
                Parce que chaque interaction que nous avons avec les équipes et l'organisation façonne l'équipe et l'organisation, nous façonne aussi en tant qu’individus. Cet atelier a pour but d'offrir à ses participants une expérience concrète pour vivre le changement et ses impacts. Le protocole utilisé suivra les étapes de la théorie U, et est aussi inspiré par les principes des systèmes vivants. 
                <br/><br/>
                Un autre objectif de l’atelier est de vous illustrer comment la richesse de la qualité d'écoute et du questionnement, avec la force de l'intention, peut accélérer l'émergence de l'innovation. Il vous propose de faire une expérience immersive sur l'intelligence collective et de son fonctionnement. Nous fabriquons des équipes pour qu'elles conçoivent tout le reste. Nous nous concevons notamment nous-même.
                <br/><br/>
                <a href="https://twitter.com/ojuncu" class="ion-social-twitter"></a>
                </p>
                <p>
                <h4>Son atelier : People Systems Design</h4>
                </p>

                
        </div>    

    </div>

</section>