
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=olaf>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Olaf Lewitz
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/olaf-lewitz.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>

                <h4>Olaf is the trust artist</h4>    
                </p>
                <p> 
               <strong>Session : Own your product as if it mattered</strong><br/>
<br/>
What difference do you want your product to make?<br/>
What difference does you owning it make? <br/>
What kind of value do you create for the stakeholders?<br/>
How is your product making the world a better place for your grandkids?<br/>
How are you catalysing learning in your product organisation? <br/>
How do you integrate value creation, learning, and fun when developing your product? <br/>
<br/>
Some of these questions have more obvious answers than others. Olaf will guide you through these and more so that you gain clarity in why you own your product the way you do - and how you may want to change it. 
It’s all about the difference you want to make. 
<br/>
Intention is everything. Ignorance may kill you. 
<br/><br/>
<strong>Atelier : PO Witchcraft and Wizardry</strong><br/>
<br/>
Prepare to be surpraaaaaaaaaaaa…!!?!<br/>
What’s your unfair advantage as a PO? What’s the magical product leadership only you can do? <br/>
As an outstanding PO you own your product as if it mattered, you ship value more frequently than horror movies make us shiver. When waking up from a nightmare, you can immediately draw a lean canvas of your most exciting features so that your customers scream from excitement. <br/>
And… what about you? What makes you so outstanding? How did you get to be the best PO you can be? How come you are the only witch or wizard capable of owning that product like you do? And: now that you know your special magic - how can you take it to the next level…?<br/>
In this workshop, we’ll uncover what makes us great as POs. We’ll deep dive into curiosity, courage, cochones, monsters and special effects - the ingredients that make you you. <br/>
You’ll leave this session knowing things about yourself that you never dared to ask before. 
You may bring your comfort zone, and you may not spend much time inside of it.  
<br/>
<br/>
                <a href="https://twitter.com/OlafLewitz" class="ion-social-twitter"></a>
                </p>
                <p>
                <h4>Sa session : Own your product as if it mattered</h4>
                <h4>Son atelier : PO Witchcraft & Wizardry</h4>
                </p>

                
        </div>    

    </div>

</section>