
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=oussama>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Oussama Ammar
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/oussama-ammar.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>

                <h4>Oussama Ammar</h4>    
                </p>
                <p>
                    Co-Founder & Director @ TheFamily - Brain (& Meat) Lover
                    <br/><br/>
                    <a href="https://twitter.com/daedalium" class="ion-social-twitter"></a>
                </p>    


                <p>
                <h4>Sa session : Vanity Metrics</h4>
                </p>

                
        </div>    

    </div>

</section>