
<section class="{{ .fond }} pt100 pb100">
    <div class="container" id=thais>
        
        <div class="section_title mb50">
            <h3 class="title" >
              Thaïs Vauquières
            </h3>
        </div>

        <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <p>

                  <img src=/img/speakers/thais-vauquieres.jpg />  

            </p>
        </div>
        <div class="col-12 col-md-6">
                <p>

                <h4>Thaïs Vauquières</h4>    
                </p>
                <p>


                Après 5 ans de carriere dans le caféthéâtre et une dizaine de pièces àson actif, Thaïs se lance en 2016 dans le one-woman show. Accompagnée de son metteur en scène et co-auteur, Stéphane Casez, elle remplit la salle du Boui Boui avec succès et se place dans les meilleurs ventes lyonnaise pendant plus d’un an et demi. </p>
                <p>
                Pour Thaïs, tout commence en 2011 lorsque Didier Nathan, le patron du caféthéâtre « Les Tontons Flingueurs » lui propose de jouer dans « Ça tourne ». S’enchainent ensuite plusieurs pièces comme « Le tour du monde en 80 jours » ou « J’aime beaucoup ce que vous faîtes » et c’est au contact de ses partenaires de jeux et des metteurs en scène qu’elle apprend son metier, « sur le tas ».
                </p>
                <p>
                Après avoir jouer les textes de autres, on l’encourage àécrire son propre one-woman show, « Hymne àla joie », dans celui-ci, Thaïs se présente comme une fille d’aujourd’hui qui assume ses complexes et préfère en rire. On y trouve également des personnages hauts en couleur et touchants àla fois, entrecoupés de danse et même de chant, Thaïs vous emmène pour une heure de rire.
                </p>
                <p>
                Depuis le mois de septembre elle est en tournée avec l’humoriste et comédien Titoff dans le spectacle « Amoureux ». Le spectacle sera à l’affiche du théâtre de 10 heures à partir de janvier 2019. 

                Elle jouera en parallèle son one woman show « Hymne à la joie » tous les mardis au Petit Palais des Glace à partir de janvier 2019 juste avant son apparition à la conf' School of PO. 
                </p>
                </p>    

                <p>
                <h4>Sa session : Produit Comique</h4>
                </p>

                
        </div>    

    </div>

</section>